[2016-10-10 02:11] AvivaShimelman commented on #350
Sorry. I sent the nine of them on the plane two weeks ago. I did
single them out as priority, and most of them were hyper-edited, but
maybe they were still just too big -- it could be that they would have
maxed out the Vila connection.

A.

On 10/10/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-10 08:42] LauraWae commented on #350
Hi,
As you may have seen on my recent email, those nine files have arrived on OC and can be edited and processed for the website now. Thanks a lot to you both.

[2016-10-10 08:51] LauraWae commented on #372
Hi @AvivaShimelman ,

Thanks again for the pre-editing of the nine files which Kate has uploaded now on OC. With those, our representation of you work on Malakula is growing more and more complete, as I see it.

I have found some languages which still remain without complete sound. Within the former 52 group, those are:
** wl_0024_Nahavaq_02_CarolineBay / Oce_Van_Mal_West_SCtr_Nahavaq_CarolineBayL

[2016-10-10 08:53] LauraWae commented on #372
PS: All the Original files should be now **back** on OC, folder 1 "original files now done".

[2016-10-10 09:13] PaulHeggarty commented on #372
In case it's of use, as far as the Access database has it, the 'switched off' language varieties are currently:

![screenshot - 2016-10-10 11_11_38](https://cloud.githubusercontent.com/assets/8819910/19231448/59c0cec0-8eda-11e6-9cfe-733b104f7f3b.png)

Full Index Number	Website Short Name	Recording Original FileName	Glottolog code	Speaker First Names	Speaker Surnames

48744133309	Batarxopu: Gonwar

[2016-10-10 09:38] LauraWae commented on #372
Yes, that's very helpful, Paul. Thanks.

[2016-10-10 10:04] LauraWae commented on #350
**wl_0035_Tape_01_Tautu_selected_short / Oce_Van_Mal_East_NCtr_Tape_Tautu_Dl**
- cleaned up.

[2016-10-10 10:09] AvivaShimelman commented on #372
Tirax Orap - Indeed, one of the "offs"
Nombotkote Melkin is just Nombotkote Melaklak - Do you have the edited
file for that one?

As for:
Caroline Bay
Aingelemolesa
Tisvel

All are noted on my copy of the June 24th transcription sheet as "not
revised." Revisions generally accompany re-edits, so that probably
means I never made a new file for those. I don't keep those files on
my computer, and I wo

[2016-10-10 10:13] AvivaShimelman commented on #372
That looks right to me. A.

On 10/10/16, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-10 13:41] LauraWae commented on #372
Nope. I only found some 52-ones.

Ok.

As for **Botku**, I remember very clearly doing that one in the first batch of "pre-edited" files last spring, so please do check.

I cannot find it appearing anywhere - neither in the Progress tracker nor on my hard drives. In the progress tracker, it does not appear among the other UWRA files we edited in June.

It will be good to see you. **Lawa** actually

[2016-10-11 04:21] AvivaShimelman commented on #372
You definitely have transcriptions for all of them (how else could
they be appearing on the site :) ?).

If Botku is done, it'll be on my USBs (tomorrow).
Nombotkote: Do you have a "Melaklak"? "Melaklak" is just the name of
the dialect spoken in Melkin. If it exists, I'll be able to dig it out
tomorrow, too.

A.

On 10/11/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-11 07:56] LauraWae commented on #372
Hi. Yes, transcriptions are in a perfect status. There is no Melaklak around here, sorry. Thanks.

[2016-10-11 09:13] LauraWae commented on #350
**wl_0039_Avava_03_Khatbol_selected_short / Oce_Van_Mal_Mlt_Avava_Khatbol_Dl**
- cleaned up.

[2016-10-12 03:56] AvivaShimelman commented on #372
Wala_Botku_ selected is dated March 24 on my USBs. I'll carry a copy
to Vila and upload from there.

On 10/11/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-12 11:00] LauraWae commented on #372
Thanks a lot, as always.

[2016-10-12 11:33] PaulHeggarty opened #408 "Giovanni's Malakula Transcriptions"
Giovanni has now nearly finished transcribing the 66 best candidate words for high pan-Malakula cognacy in all of the varieties selected for him to cover.

He writes: "However, I'm not transcribing all the recordings (they are really a lot...) but only those ones that Aviva selected for detailed transcription (basically one for each "language").

Things may have moved on since then, however, with

[2016-10-12 12:30] LauraWae commented on #350
**wl_0050_Tesmbol_02_Melalak_selected_short / Oce_Van_Mal_East_SCtr_Tesmbol_Melaklak_Dl**
- cleaned up.

[2016-10-12 12:33] LauraWae commented on #350
**Oce_Van_Mal_West_Ctr_Novol_DixonReef_Dl**
- works on website.
- uploaded to 3b.

[2016-10-12 15:35] DarjaAppelganz commented on #350
**wl_0051_Pangkumu_01_Ndarmif_selected_short**

- cleaned up

[2016-10-12 19:56] DarjaAppelganz commented on #350
**wl_0053_Unua_02_Mbatumbo_selected_short**

- cleaned up

[2016-10-14 11:49] #407 closed

[2016-10-15 07:34] AvivaShimelman commented on #350
Looks like you're making quick work of it. Nice. Will be glad to met
you in person the week after next.

A.

On 10/13/16, DarjaAppelganz <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-15 08:19] AvivaShimelman commented on #408
1.  In the northern interior (see below), we can get intermediate
level. Probably in Venen Taute, too. If we want to target that level
of difersity for analysis, it would probably take more recodings than
I have for any language now. Not hard to get, but still a matter of
getting.

2. Phonetic peculiarities. No, nothing Giovanni hasn't already gotten
his ears on.
The Pangkumus are worth a listen,

[2016-10-17 08:32] GAbete commented on #408
All the topics highlighted by Aviva are very interesting for me. Anyway, I'm going to complete the transcriptions of 10 old recordings for which only 30 words were transcribed. I'll worn you when I finish so that we can decide what to prioritize in the last months of my contract

[2016-10-21 09:53] LauraWae commented on #350
**Ia_03_Benut_selected / Oce_Van_Mal_Int_Nth_Batarxopu_Lumsak_Dl**
- cleaned up and tagged.
- extracted.
- uploading to website.

[2016-10-21 13:13] DarjaAppelganz commented on #350
**Oce_Van_Mal_East_Sth_Avok_Shiaf_Dl**

- cleaned up

[2016-10-21 13:28] PaulHeggarty commented on #350
I presume we will still want to keep using this same issue, as new recordings are added, so I've reopened it.  Laura, can you confirm this issue will indeed still be needed? There are also check boxes above that have not been marked as done...

[2016-10-21 13:51] LauraWae commented on #350
Yes, it is still needed. I like this methodology a lot because everybody sees when things are getting done and usually gets happy about it. :) So, thanks for re-opening it, Paul.

[2016-10-24 11:13] LauraWae commented on #367
I have uploaded again the transcriptions of "Rgn 11 - EastSth" because Avok: Shiaf had not been uploaded in the first round. It is showing now on the website. Thanks for digging up this, Darja.

[2016-10-26 20:22] DarjaAppelganz commented on #350
**wl_1620090_Nasvang_01_selected/Oce_Van_Mal_Int_Sth_Nasvang_Farun_Dl**
-cleaned
-tagged
-extracted
-uploaded, works

[2016-10-28 09:12] LauraWae commented on #372
Hi @PaulHeggarty
Aviva has started transcribing and pre-selecting the "off"-files we have been "hiding" on the website since spring (see also your list above). As Darja and I will be continuosly uploading them to the website during the days and weeks to come, could you please make them re-appear again on the website so we can check if they are working on it?
Thanks a lot.

[2016-10-28 12:32] PaulHeggarty commented on #372
I’ve done this now.  There's one language that might not be showing as it should.  Otherwise I hope it works.

[2016-10-28 14:38] AvivaShimelman commented on #372
Can we actually hold off on that until I've got the revised
transcriptions to go with those files? A matter of a couple of days, I
should think.

A.

On 10/28/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-28 14:39] AvivaShimelman commented on #372
OK. SO ignore my last response.

On 10/28/16, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-10-29 07:15] LauraWae commented on #350
**wl_0010_Avava_02_Tisvel_selected / Oce_Van_Mal_Mlt_Avava_Tisvel_Dl**
- cleaned up.

[2016-10-31 07:17] AvivaShimelman commented on #350
In Germany and still cursed with a slow connection!  I've been uploading pre-edited files, but can't seem to get the last three up. In any case, it looks like you've got enough to work with until I get in on Tuesday.

I realize, though, that you may need the transriptions already to work with. I don't plan on making changes to any of these, but you'll notice that there are still two missing.  Addi

[2016-11-01 08:34] AvivaShimelman commented on #350
Just discovered that 16-31 Siviti Tanmililib has a bunch of doubles. Re-editing it now. A.

[2016-11-01 11:06] LauraWae commented on #361
@DarjaAppelganz
Aviva kindly asks us to pay special attention to the following phenomenon during the cleaning up process: some speakers tend to make an usually long pause before pronouncing final stops like [-t] or [-"glottal stop"]. :)

[2016-11-01 14:38] LauraWae commented on #350
**wl_0021_Nombotkote_03_Melkin_selected / Oce_Van_Mal_Mlt_Nombotkote_Melkin_Dl**
- cleaned up.

[2016-11-02 10:04] LauraWae commented on #350
**wl_0024_Nahavaq_02_Caroline Bay_selected / Oce_Van_Mal_West_SCtr_Nahavaq_CarolineBayLumo_Dl**
- cleaned up.

[2016-11-02 16:34] AvivaShimelman commented on #350
Just looked at the Batarxopu Gunwar (26) recording. Lots of doubles,
but they really are, for my purposes, identical.

A.

On 11/2/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-03 11:30] LauraWae commented on #350
**wl_0046_ Aingelemolesa_01_selected / Oce_Van_Mal_Int_Sth_Letemboi_Aingelemolesa_Dl**
- cleaned up.

[2016-11-03 11:30] LauraWae commented on #350
Ok, thanks, Aviva.

[2016-11-04 07:52] LauraWae commented on #367
Hi @AvivaShimelman
In your post on 31-10 you mentioned that the following languages are now on OC:

I cannot find "16-09 Tirax Bethel" on 2016 10 31 Malakula transcriptions 31 10 2016 supplement (temporary) SC. Any idea?

[2016-11-04 08:29] AvivaShimelman commented on #367
True, indeed! Will bunch it with the Uripiv-Tautu and Vao-Peteri when
I send those later this afternoon.

A.

On 11/4/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-04 09:01] LauraWae commented on #367
Thanks a lot! :)

[2016-11-04 09:01] LauraWae commented on #350
**wl_160016_Wala_03_Petreros_selected / Oce_Van_Mal_Nth_ESth_UWRA_WalaPetreros_Dl**
- cleaned up.

[2016-11-04 12:09] LauraWae commented on #350
**wl_160020_Tirax_05_Orap_selected / Oce_Van_Mal_Nth_ESth_Tirax_Orap_Dl**
- cleaned up.

[2016-11-04 15:59] LauraWae commented on #367
Cannot find transcriptions of wl_160031_Siviti_01_Tanmililib neither in "202016 10 31 Malakula transcriptions 31 10 2016 supplement (temporary)".

[2016-11-05 18:36] AvivaShimelman commented on #367
Tanmililib transcription here.
In other news: it looks like not all the "blue" items for Avava Khatbol are playing. Any ideas?
[Malakula SC transcription supplement - 16-24 (Lembilmbil) and 16-24 (Tautu) 2016 11 05.xlsx](https://github.com/lingdb/Sound-Comparisons/files/573434/Malakula.SC.transcription.supplement.-.16-24.Lembilmbil.and.16-24.Tautu.2016.11.05.xlsx)

[2016-11-06 18:23] DarjaAppelganz commented on #350
**wl_160009_Tirax_03_Bethel/Oce_Van_Mal_Nth_ESth_Tirax_Bethel_Dl**
- cleaned up

[2016-11-06 18:49] DarjaAppelganz commented on #350
**wl_160024_Batarxopu_Lembilmbil_selected/ Oce_Van_Mal_Int_Nth_Batarxopu_Lembilmbil_Dl**
- cleaned up

[2016-11-06 19:25] DarjaAppelganz commented on #350
wl_160026_Batarxopu_04_Gunwar_selected/Oce_Van_Mal_Int_Nth_Batarxopu_Gonwar_Dl
- cleaned up

[2016-11-06 19:59] DarjaAppelganz commented on #350
**wl_160031_Siviti_01_Tanmililib_selected/Oce_Van_Mal_Int_Nth_Njav_Tanmililib_Dl**
- cleaned up

[2016-11-07 12:12] LauraWae commented on #367
I have uploaded the transcriptions of

16-24 Batarxopu Lembilmbil
16-19 Tirax_Orap
16-51 Nese_Sanboise
16-16 Wala_Petreros
16-32 Wala_Botku
15-10 Avava_Tisvel
15-24 Nahavaq - Caroline Bay (2)
15-46 Letemboi_Aingelemolesa
15-21 Nombotkote _ Melkin
16-24 Batarxopu Lembilmbil
16-64 Uripiv_Tautu.

Thanks for the latest update, @AvivaShimelman .

[2016-11-07 12:17] LauraWae commented on #367
Do you mean that there are a lot of black transcriptions without sound? This could be due to a) a none-so-well concentrated sound editor, or b) old transcriptions on the website. Will check.

[2016-11-07 14:27] AvivaShimelman commented on #367
That dog is so stacked!

On 11/7/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-07 14:28] AvivaShimelman commented on #367
Blue transcriptions without sound.

A.

On 11/7/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-07 14:36] LauraWae commented on #367
Ok, that's an interesting case indeed. Thanks for digging that out. Will check.

[2016-11-07 15:08] LauraWae commented on #350
I have deleted the extracted files for **Letemboi: Natangan** from the server. The language this recording is actually assigned to is **Natangan: Mbonvor**. Will rename the cleaned up file "Oce_Van_Mal_Int_Sth_Letemboi_Natangan_Dl" to "Oce_Van_Mal_Int_Sth_Natangan_Mbonvor_Dl" and extract again.

[2016-11-07 16:10] LauraWae commented on #337
**Frattura_WordList**
- cleaned up.

[2016-11-07 16:24] LauraWae commented on #337
**Monterubbiano_WordList_AbeteCut**
- cleaned up.

[2016-11-07 16:52] LauraWae commented on #337
**Ausonia_WordList_AbeteCut**
- cleaned up.

[2016-11-07 18:12] AvivaShimelman commented on #350
Right.

On 11/7/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-07 19:55] AvivaShimelman commented on #367
Hi, L
wrt 16-09 Tirax Bethel
I found the selected file in "done" but I can't find the cleaned up version.  Where?

A.

[2016-11-08 11:18] LauraWae commented on #367
Transcriptions of **162-86 Natangan_Mbonvor SC1 **
In the Transcriptions 215 sheet, from where the SQLs are extracted, this recording is assigned to the no longer existing name "Oce_Van_Mal_Int_Sth_Letemboi_Natang". I have changed it manually to "Oce_Van_Mal_Int_Sth_Natangan_Mbonvor_Dl". I hope this is fine with the database @PaulHeggarty .

[2016-11-08 14:46] LauraWae commented on #372
Hi @PaulHeggarty
We have some confusion on the Reference sheet, concerning three files and their assigned SndComp system name. Please have a look at this:

![capture](https://cloud.githubusercontent.com/assets/10007762/20103272/96ab893c-a5c9-11e6-9df8-1e79f4a4bdc8.PNG)

Obviously,

wl_1620087 should be assigned to Oce_Van_Mal_Int_Sth_Navwien_Mbonvor_Dl;
wl_1620086 to Oce_Van_Mal_Int_Sth_Natangan_M

[2016-11-09 10:16] LauraWae commented on #337
Thanks, Giovanni. I have added now "masc" on the word "his_fem"  in the "different morpheme structure"-tier in the recording of Monterubbiano_WordList_AbeteCut.

[2016-11-09 10:33] LauraWae commented on #372
**Neve’ei: Vinmavis** and **Neve’ei: Vinmavis 2**
_Neve'ei: Vinmavis_ is fine. What is not working is _Neve'ei: Vinmavis 2_.

At the end of September, we decided to add a second recording of this language to the website. This was the recording of Jimmy Simeon and the name of the recording is **wl_0033_Neve'ei_03** (See Aviva's comment above on 30 Sep in this same issue:

Paul has already created t

[2016-11-09 10:36] LauraWae commented on #367
Hi all,
With the last bunch of transcriptions you have uploaded, we were able to close another little gap of not uploaded transcriptions on the website. Thanks @AvivaShimelman for that.

Transcriptions which still do not show up are the following (+ analysis):

**1. Natangan: Mbvonor:** We have the transcription of those, but it is due to a mistake somewhere between the data entry and the displayi

[2016-11-09 10:42] LauraWae commented on #367
Dear @AvivaShimelman

As far as I can see, @DarjaAppelganz has cleaned up a bunch of files this weekend, but has not yet tagged them. She probably has not re-uploaded the cleaned up file yet. Is that true, Darja?

[2016-11-09 10:59] DarjaAppelganz commented on #367
true! sorry, will do today. i collected 4 or 5 recordings and cleaned
them first. now i will tagg them at once and upload them all in a few
hrs. sorry Aviva
DA

Zitat von LauraWae <notifications@github.com>:

--
Darja Appelganz, M.A.
Wissenschaftliche Koordinatorin

Projekt "Grammatische Universalien"
Universität Leipzig
IPF: 141 199
Nikolaistraße 8-10, Zi 5.25
04109 Leipzig
Tel.: 0341 / 97 377 14

[2016-11-09 11:08] LauraWae commented on #350
Hi @AvivaShimelman . Just to get some reassuring: The fact that this language is floating is correct because there used to be an island at that spot, right?

[2016-11-09 11:28] LauraWae commented on #372
Aviva has noted that the Avava Kathbol recordings were not playing propperly on the website (See citation from #367 below [I answer here because this is not really an issue of transcriptions, but rather about data - in a wider sense]) . I have extracted them again, deleted the old files from the server and uploaded the new ones. Now it works well. Thanks for digging that out, Aviva. Will pay atten

[2016-11-09 11:28] LauraWae commented on #367
@AvivaShimelman Concerning your remark about Avava Kathbol, I have answered to it in #372 . It is resolved for now. Thanks.

[2016-11-09 12:01] LauraWae commented on #372
**wl_160052_Taute_06_Benenavet_selected** and **wl_160055_Taute_09_Benwara_selected**
@AvivaShimelman  I have seen that you have uploaded those two files to the "1 - To Clean Up" folder. We do not have them on the Reference Sheet yet, so I would prefer them to be in the folder "Don't worry about just yet". If these are new languages that are supposed to go to the website, they obviously need an en

[2016-11-09 12:59] LauraWae commented on #350
**wl_160032_Wala_05_Botku / Oce_Van_Mal_Nth_ESth_UWRA**
- cleaned up.

[2016-11-09 13:44] PaulHeggarty commented on #372
On the problem noted by Laura a few comments up from here, I’ve checked my database and YES, you are right that we have a problem here in mismatches in naming those three files, which may indeed explain some of the problems on the website.  Here's a screenshot from my database, which is what gets uploaded to the server.  I will try to make it tomorrow, so that we can fix this.  It will probably en

[2016-11-09 14:36] AvivaShimelman commented on #350
What language are we talking about?

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 14:42] LauraWae commented on #350
Natangan

[2016-11-09 14:43] AvivaShimelman commented on #372
Transcriptions on the sheet attached. Uploading the recording now.

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 14:59] AvivaShimelman commented on #372
Good.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 15:03] AvivaShimelman commented on #350
Indeed, there are some islands that have drowned. None there, as far
as I know, though. That's probably just a mistake. Also probably a
mistake: Axamb is off its island. I'll double-check the coordinates I
gave you for those.

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 15:26] AvivaShimelman commented on #350
Let's put Natangan at:

Natangan
-16.530885, 167.575314

And Axamb at:

Axamb
-16.521990, 167.654522

(numbers I just got by reading the location of my recordings off of
Google Earth).

Sorry for the trouble.

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 16:12] AvivaShimelman commented on #367
Bar moving on upload now.
Still looking for Vinmavis 2. WIll find,  Will find.

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 16:14] AvivaShimelman commented on #367
It's not actually clear that I ever did 36. If I can't find it, I'll
just (re?)do it now.

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 16:22] AvivaShimelman commented on #372
There was a folder "Neve'ei temporary" -- did it go away?  Can it come back?

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 18:12] AvivaShimelman commented on #372
The file is now in "to clean up." Attached is a revised transcription.
Also uploaded to OC. I'm going to be reviewing the other Vinmavis
transcription now, so that one may get some edits, too.
A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 18:43] PaulHeggarty commented on #350
Not sure which you refer to here, of the two varieties with Axamb in the name, though...
And Natangan is one of the name mix-ups.
To sort out tomorrow.

[2016-11-09 19:24] AvivaShimelman commented on #372
Attached -- transcript with (miniscule but politically important)
revisions to first Vinmavis file, too. Uploaded to OC.

A.

On 11/9/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 19:25] AvivaShimelman commented on #350
Got it.

On 11/9/16, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-09 20:36] PaulHeggarty commented on #372
Can’t see any attached file, though?

[2016-11-09 20:53] AvivaShimelman commented on #372
This one?  Also on OC.
[2016 11 09 Revised Neve'ei Vinmavis (Jimmy & Suzi) transcription.xlsx](https://github.com/lingdb/Sound-Comparisons/files/581814/2016.11.09.Revised.Neve.ei.Vinmavis.Jimmy.Suzi.transcription.xlsx)

[2016-11-11 11:26] LauraWae commented on #372
Hi @AvivaShimelman
I found that there is no preselected version of **Siviti: Gonwar** in our Owncloud folders, neither. At some point, we would need a preselected version of that, too. Thanks.

[2016-11-11 12:24] LauraWae commented on #367
**No Vinmavis 2 on transcriptions sheets to export SQLs**
@PaulHeggarty
I cannot find an entry for **Vinmavis: 2 / Oce_Van_Mal_West_NCtr_Neveei_Vinmavis2_Dl** on any of the "to export SQLs"-spreadsheets for the transcriptions. Could you add that, please? Thanks.

[2016-11-11 14:00] LauraWae commented on #367
I have uploaded these two new transcription sets [Vinmavis and Vinmavis 2] now to the website. Thanks to you both for uploading and updating.

[2016-11-11 16:37] AvivaShimelman commented on #372
Right. That's the one we talked about, I think.

A.

On 11/11/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-14 08:41] LauraWae commented on #367
Hi @AvivaShimelman
I cannot upload the revised transcriptions as you have sent them. They are containing some sets where suffixes and affixes are in different columns than the word stem. I have already said that our script is not able to proccess these. I can upload the transcriptions once they are in the proper format and once you have confirmed that these will be the last revisions for now, pref

[2016-11-14 09:07] AvivaShimelman commented on #367
Will do.

A.

On 11/14/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-14 13:00] LauraWae commented on #367
Thanks a lot.

[2016-11-14 13:05] LauraWae commented on #350
**wl_160063_Vao_03_Peteri_selected / Oce_Van_Mal_Nth_ENth_Vao_Peteri_Dl**
- cleaned up.

[2016-11-14 13:08] LauraWae commented on #350
**wl_160064_Uripiv_05_Tautu / Oce_Van_Mal_Nth_ESth_UWRA_UripivTautu_Dl**
- cleaned up.

----

Note: The Original file name of this recording was wl_16006**5**_Uripiv_Tautu**, not wl_16006**4**_Uripiv_Tautu, as indicated on reference sheet. I hope this is fine though, @AvivaShimelman .

[2016-11-14 14:17] AvivaShimelman commented on #350
This is great! How many are left? I'm working on the last one Siviti-
Gonwar right now. I'm on 'thatch'. Did Paul have a script for merging
the three columns. I think I remember he did.  Can you double-check
this?  If he does not, I'll figure something out.

A.

On 11/14/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-14 14:49] LauraWae commented on #350
Hi,
Yes, he does have a script to merge the columns.
All the best,
Laura

[2016-11-14 16:21] AvivaShimelman commented on #350
OK, so that means that I don't have to do it?

I'll send the latest version now with 36- Siviti-Gonwar integrated.
Also uploaded to OC.

A.

On 11/14/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-15 16:48] LauraWae commented on #350
**wl_0033_Neve'ei_Vinmavis_02_selected / Oce_Van_Mal_West_NCtr_Neveei_Vinmavis2_Dl**
- cleaned up.

[2016-11-15 16:55] LauraWae commented on #367
I have uploaded all the transcriptions on **2016 11 14 Malakula transcriptions compiled** in _ownCloud\SndComp\Malakula\7 - Transcriptions Current - Aviva_. Thanks, Aviva, for the update. Hope you arrive well.

[2016-11-15 19:04] AvivaShimelman commented on #367
Thanks. In Frankfurt boarding now. WIll check in in 10 hours when I
get to Dubai.

A.

On 11/15/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-15 19:05] AvivaShimelman commented on #350
There aren't too many left! I shared my folders with Mary, too.  A.

On 11/15/16, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-15 20:40] LauraWae commented on #350
** Nese: Sanboise**
- Cleaned up, tagged, uploaded to 3b.

[2016-11-15 21:27] LauraWae commented on #350
**wl_160036_Siviti_03_Gonwar_selected / Oce_Van_Mal_Int_Nth_Njav_Gonwar_Dl**
- cleaned up.

[2016-11-15 22:02] runjak commented on #367
@LauraWae I assume that this means that I can get the export ready then?

[2016-11-15 22:05] LauraWae commented on #367
Hi dear @runjak Not just yet. Thanks for asking, but there is still some sound coming up.

[2016-11-15 23:56] LauraWae commented on #350
Hi @runjak

It seems like the server has been overheated a bit by the recent uploading of sound. The Malkula site keeps loading and loading... as a result, there are two languages which I have not been able to check whether they suppose any problem on the website. I presume they should be working, though (transcription had been uploaded successfully, so no problem on the naming part; sound is comp

[2016-11-24 00:49] maryewal opened #409 "Vanuatu Data from non-MPI Contributors"
I've been talking with several Vanuatu field linguists about getting basic word lists from other island languages and dialects for comparative reasons. These are beginning to come in and I am wondering if/how we can eventually also include these on SC to expand the Vanuatu coverage.

Right now, I have audio lists from 2 speech varieties of N. Pentecost from ANU linguists.  They are cut, but not tr

[2016-11-24 11:51] AvivaShimelman commented on #409
It's great that they're able to share like that. These are, of course,
questions that only Paul can answer.

A.

On 11/24/16, maryewal <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2016-11-24 19:25] LauraWae commented on #409
Hi both,

Yes, this sounds good. I am not actually sure what you mean by "protocol", Mary, but from my point of view we can keep in mind the following:

Concerning uploading them to soundcomparisons:
As far as I have understood @PaulHeggarty, only by spring next year we would be able to upload them actually to the website. This means, as Paul is the one who created the database for the website, it

[2016-11-25 03:05] AvivaShimelman commented on #409
I am available for specific questions, of course. The only
not-too-challenging challenge is setting up the level codes.

Here's how I understand it (could always have it wrong, of course)
Level one (country) is given: 7
Level 2:
You'll assign numbers to the different islands (actually, we're going
to have to use provinces, not islands now, so, LAURA, eventually we'll
have to ask Paul to change "Ma

[2016-11-25 03:17] maryewal commented on #409
Thank you both, this is all very helpful.

Mary Elizabeth Walworth, PhD
Linguist, Max Planck Institute for the Science of Human History
Visiting Researcher and Instructor, Université de la Polynésie française
US: +1 415 871 0492
PF: +689 87 238 129

On Fri, Nov 25, 2016 at 2:05 PM, AvivaShimelman <notifications@github.com>
wrote:

[2016-12-08 12:39] PaulHeggarty opened #410 "Minor but Urgent Issues"
This is a running tracker issue, please leave open.

###Issues still open:
----

- [ ] In 1 language view, the links to glottolog entries look up the iso code, not the GlottoCode, even if a GlottoCode does exist for that language.  In fact, the syntax should be:
- if GlottoCode does exist, link to:  http://glottolog.org/resource/languoid/id/ [+ GlottoCode]
- if GlottoCode does not exist, but iso c

[2016-12-08 12:40] PaulHeggarty commented on #410
Issues already completed:
----

[2016-12-08 13:46] #405 closed

[2016-12-12 09:49] runjak commented on #410
I've deployed commit 6de7525 which enables linking by GlottoCode.

[2016-12-16 23:15] LauraWae opened #411 "Put studies in alphabetical order"
In the drop down menu that shows the studies available on the website, it could be helpful to have the language families in alphabetical order.

However, the best would be:
1. Indo-European (Study 1), and within that the sub-branches in alphabetical order.  One level of nesting needed, then.  (The text 'Indo-European' itself would not be a link to anything.)
2. A dividing line.
3. The rest, in alp

[2017-01-10 14:52] runjak commented on #391
I've implemented a cache fix for the minified JavaScript.
This fix is similar to the one done in CoBL in principal but differs in the implementation.
While the CoBL setup allows us to precompute a [hash](https://en.wikipedia.org/wiki/Cryptographic_hash_function) of the minified JavaScript in advance due to a better minification process, this hash is calculated each request in soundcomparisons.

Th

[2017-01-10 14:55] runjak commented on #410
The `Malakula` redirection problem recently surfaced again and I concluded that it is most likely a caching problem. Commit f3672fe improves the caching for JavaScript and I expect it to fix the redirection problem as well.

[2017-01-10 14:56] #391 closed

[2017-01-11 13:29] runjak opened #412 "Implement study monitoring system"
Since this is a bigger task I'm moving it out of #410.
Original description by Paul:

If possible, set up a monitoring system to check that all individual studies are online at all times. Perhaps this can be combined with the current system to check that the server is up, but I don’t know which URLs to use, since the study-specific address doesn’t give an error page, but redirects to the default i

[2017-01-11 13:30] runjak commented on #410
I've moved the task about the monitoring into the separate issue #412.

[2017-01-17 13:11] runjak commented on #406
I've just had a look at this and was able to fix the offline version for firefox easily.

Also when switching studies the site does not ask for the data files again. When a new tab is opened however, it has to do this currently, and avoiding this would cost more work than is useful.

Lastly the default zoom is fixed in the offline version.

All these changes will, of course, only take effect with

[2017-01-17 16:48] runjak commented on #410
I've updated the issue description with things @Linguista reported via mail today.

[2017-01-17 20:41] Linguista opened #413 "Mapudungun database entries that don't specify index # or gloss"
The Sound Comparisons site's `Diagnostics` - `Missing Sounds` function shows that for Mapudungun, there are a series of database entries with (1) no index number, and (2) no gloss. To reproduce this, go to this page, click `Mapudungun`, and then in the search box enter enough of a location name (e.g. `jacobacci`) to only see the files from one place.

In this example, the first sound names display

[2017-01-17 20:57] Linguista commented on #413
@runjak said in an e-mail that "My hunch would be that due to missing or incomplete entries in the Transcriptions_Mapudungun table the sound files aren't found in their correct location".

For what it's worth, I just looked over the entries for Jacobacci (it's a good test case) in the dump of `expectedFiles` that you performed for me the other day (attached), and I can't find these incorrect entri

[2017-01-18 14:02] runjak commented on #413
Hm. Looking at the old files I see that they originally carried names like these:
![screenshot_2017-01-18_15-01-19](https://cloud.githubusercontent.com/assets/5417642/22066820/09867a50-dd8f-11e6-9ec2-6b7462f16810.png)

I see that the suffixes like `_021_mil` are missing from the files listed in the diagnostic feature. I'll have a look where they went.

[2017-01-18 14:22] runjak commented on #413
The suffixes that aren't displayed correctly are given in the `Words_Mapudungun` table.
And look like this:
![screenshot_2017-01-18_15-20-26](https://cloud.githubusercontent.com/assets/5417642/22067472/b9d2fd28-dd91-11e6-804a-c7612bb0fe02.png)

I will try to fix the diagnostics feature so that it gives better feedback that includes the `SoundFileWordIdentifierText` column. I'm a bit confused why t

[2017-01-18 14:46] runjak commented on #413
Looking at the diagnostics feature and the suffices on my machine on a snapshot of the database I found the following lead:

The suffixes appear to be missing in only some cases. So I tried to isolate these using a query like this:
[code]

I then used the above query to look up languages in the `Languages_Mapudungun` table:
[code]
This query has results like these:
[code]
My guess would be that th

[2017-01-18 16:00] Linguista commented on #413
I suspect that the root of the problem is a mismatch between certain index numbers and/or glosses that we use _currently_, and those that we used _at the very beginning of the project_, before we had standardized everything. Among the things that changed at one point were the following:

- Leading zeros on numbers below 1000 to pad them out to three digits.
- Some glosses that had parentheses no l

[2017-01-18 16:12] Linguista opened #414 "Mapudungun page shows map incorrectly on refresh"
When refreshing (F5) the [Mapudungun page](http://soundcomparisons.com/#/en/Mapudungun/map/seven/Lgs_Sln), the map is displayed incorrectly -- about 3.5 global maps are shown horizontally (see screenshot).

Note that this does _not_ happen when initially loading the page (by pasting the URL in the URL bar, for example). Note also that the problem is fixed by clicking on the "Reference Forms" optio

[2017-01-20 08:39] runjak commented on #414
I have problems reproducing this in either Firefox or Chromium/Chrome.
Can you tell me whether this problem also persists in the private mode of your Browser,
and which Browser you're using?

[2017-01-20 12:31] Linguista commented on #414
Pleasantly enough, I can't reproduce this problem now either, so I can only assume it was an issue with data cached in my browser (I was using Chromium 55 on Linux). I think you can close this issue.

[2017-01-20 12:56] #414 closed

[2017-01-24 16:46] Linguista opened #415 "Insert \n between altlex transcriptions"
Currently, when a given word has two alternate lexemes (and presumably if it has more), their phonetic transcriptions are displayed side-by-side, as in this image:

![image](https://cloud.githubusercontent.com/assets/5791472/22256311/a4c8a004-e25a-11e6-9745-f70c5e79b54e.png)

Sometimes both transcriptions fit in the cell assigned to the word, but many times they don't, as the screencap illustrates

[2017-01-25 15:34] Linguista opened #416 "Maps' phonetic transcription boxes' right margins too tight"
This is undoubtedly a _very_ minor issue, but the right margin of the boxes in which phonetic transcriptions appear on the maps is too tight. In fact, it appears that there actually is no margin (the left margin, on the other hand, seems to be about 2 px wide).

This has the effect of making the last character of each transcription somewhat difficult to read. This image shows an example:

![image]

[2017-01-25 15:49] Linguista opened #417 "Anomalous transcription display"
I have just come across an anomaly in the display of at least one transcription.

Language: Mapudungun
Lexical item: "fülang, lig, lüg",
Speaker: Puerto Saavedra
Display: Map

The speaker produced two lexemes for this word. Instead of being shown side-by-side, as is still normally the case, one is shown above the other, but with a comma taking up a second row. As a result, the two words are shown

[2017-01-25 23:07] Linguista commented on #416
Another screenshot to show what's going on. Here, the serif on the right part of the phonetic symbol is displaying _outside_ the box. So it's more than just having a 0 px right margin, apparently.

![image](https://cloud.githubusercontent.com/assets/5791472/22313056/10af0e42-e35b-11e6-9df0-bcd39064db14.png)

[2017-01-27 09:25] #406 closed

[2017-01-31 03:18] Linguista opened #418 "Admin page's "Upload" and "Diagnostics" menus do not pop up anymore"
Not sure when this problem started, but the "Upload" and "Diagnostics" buttons on the administration page no longer show their respective popup menus, which means I can't get to the SQL upload page and other admin pages. This is happening on the following browsers, all in Linux:

- Chromium 55.0.2883.87 Built on Ubuntu , running on neon 16.04 (64-bit)
- Firefox 51.0.1 (64 bit)
- Chrome 56.0.2924.7

[2017-01-31 04:07] Linguista opened #419 "More on what to show when there is no transcription"
Issue #410 touches on the matter of what to put in the phonetic transcription boxes when there is no transcription. I just noticed that the issue has been marked as resolved, with @PaulHeggarty commenting that "This has been done, using icon-wrench, to imply that it's being worked on". However, at least in the case of Mapudungun, this doesn't seem to be the case (see the screenshots below -- I can

[2017-01-31 06:53] runjak commented on #418
I have an idea what caused this.
Will see to fix it today.

[2017-01-31 13:24] runjak commented on #418
This is working again now on the server.

[2017-01-31 13:24] #418 closed

[2017-02-01 19:08] Linguista opened #420 "Make phonetic transcription font size user-selectable on Map"
Currently in Map View, the map can be enlarged or shrunk as the user desires, but the phonetic fonts always stay the same size. This makes the transcriptions hard to read (i) on small screens, (ii) on big screens by people with less-than-perfect eyesight, (iii) when using a projector, and (iv) when there are diacritics involved.

After conferring with @PaulHeggarty, we agreed that it would be best

[2017-02-02 03:32] Linguista opened #421 "New permissions on SndCmp /sound directory prevent me from using it"
Until very recently, I was able to create and delete arbitrary directories and files in `/srv/soundcomparisons/site/sound/`. That has now changed -- the new owner is `soundcomparisons`, and I have only read permissions.

This change prevents me from uploading, creating or deleting directories and files, which effectively brings my work to a screeching halt. (I need to delete folders and their cont

[2017-02-02 06:50] runjak commented on #421
Possible that I broke this when moving the `sound` folder on Tuesday.

[2017-02-02 14:07] Linguista commented on #421
Could this be fixed by simply adding me to the `soundcomparisons` group?

[2017-02-02 16:08] PaulHeggarty opened #422 "Admin system seems in part broken -- cannot upload new data files"
I’ve just tried to use the upload feature in the admin section.

http://www.soundcomparisons.com/admin/dbimport.php

With csv files, it allows me to browse and select, but the upload button does not give the usual response of showing confirmation/error messages in the info box on that screen, and the upload does not go through to the website.  Basically, nothing responds.

[2017-02-02 16:10] PaulHeggarty commented on #421
Comment to Scott:  rather than putting urgency notes in the issue title, please use the labels system to assign urgency level.  Please also use it to identify the type of issue, in this case a bug.

[2017-02-02 16:12] Linguista commented on #421
Will do! Is `0th` the label for urgent matters?

[2017-02-02 16:17] PaulHeggarty opened #423 "Separate tab for adding new studies in admin system"
In the admin system, two functions are combined onto a single page at:

http://www.soundcomparisons.com/admin/dbimport.php

See the two halves of this screenshot:

![screenshot - 2017-02-02 17_08_48](https://cloud.githubusercontent.com/assets/8819910/22557470/e97e1bb8-e96a-11e6-97ee-b68456968838.png)

The two halves are very different tasks, and should be set to different screens.  Adding a new La

[2017-02-02 16:28] PaulHeggarty opened #424 "Bugs with Translation System"
On 2017-01-17 @Linguista mentioned some problems:

----
- [x] When the interface is set to Spanish, the "DS" subscript tooltip comes up in English, even though I know I translated it. (here, for example)

- [ ] When the interface language is Spanish, the "Further Info", "Research" and "Contact" options (selected from the info button) bring up English pages. If these are static pages, I'd be glad t

[2017-02-02 22:10] Linguista commented on #422
Could this be a permissions error, too?

[2017-02-03 07:27] runjak commented on #421
On the server the group `soundcomparisons` is now defined like this:
[code]
I've adjusted file permissions so that the sound directory may be modified by all members of the `soundcomparisons` group. I used these commands:
[code]
With this the access problem should be fixed.

[2017-02-03 14:14] PaulHeggarty opened #425 "Create 'Database Editor Mode`"
This is a very big new functionality to be added to the Sound Comparisons system.   We need a database editor mode.  It will take a few weeks of programming, perhaps.

- [ ] There should be a new log-in icon in the header bar, top right, where admin users can log in.
- [ ] Once logged in, another icon should be visible, a toggle which when clicked switches to database editor mode.
- [ ] Once in da

[2017-02-03 14:21] PaulHeggarty opened #426 "Create 'Translation Editor Mode'"
Related to issue #425.  There should be lots of overlap and shared code with #425.

Another major new enhancement is a 'Translation Editor Mode'.  Once authorised admin users are logged in, they should be able to swith this mode on (see #425 for the similar process needed for Database Editor Mode), and from then on …
- [ ] Hovering over any of the texts (**not** phonetic transcriptions!) that are

[2017-02-03 14:38] PaulHeggarty opened #427 "Create 'Data Feedback Mode' and 'Data Feedback DataBase'"
There should be two types of 'Public Feedback Mode':
1) `Data Feedback Mode`  (this issue, the feedback parallel to `Data Editor Mode`, #425
2) `Translation Feedback Mode`  (issue #428, the feedback parallel to `Translation Editor Mode`, #426 )

* There should be plenty of overlap and shared code with those other issues.

----
Any site user (but not bots!) should be able to switch this on …
- [ ]

[2017-02-03 14:46] PaulHeggarty opened #428 "Create 'Translation Feedback Mode' and 'Translation Feedback DataBase'"
Related to issues #426 and #427   There should be lots of overlap and shared code with both.

In a similar was as giving feedback in 'Data Feedback Mode', any site user (but not bots!) should be able to switch on 'Translation Feedback Mode' …
- [ ] The register/cookie system for 'feedback account' details should use the same system as in #427.
- [ ] Once in 'Translation Feedback Mode', all transla

[2017-02-03 15:26] Linguista commented on #421
I can confirm that the fix works for me. Thanks, Jakob!

[2017-02-03 15:34] Linguista opened #429 "Purge a series of Mapudungun varieties from the database"
I need to have the database entries for the following varieties of Mapudungun purged:

- Mpg_Arg_Cbt_LagoRosario
- Mpg_Arg_Nqn_JuninDeLosAndes_NahuelMapi
- Mpg_Arg_RNg_Jacobacci
- Mpg_Chl_Rgn9_Curarrehue_Trancura
- Mpg_Chl_Rgn9_CholChol_Malalche
- Mpg_Chl_Rgn9_Freire_Huilio
- Mpg_Chl_Rgn9_Dollinco_Rucapangue
- Mpg_Chl_Rgn9_Puerto_Saavedra

Explanation: I've been reviewing and adjusting the very fi

[2017-02-03 16:02] Linguista commented on #425
Regarding point 3, "opening the existing sound file within a sound file editor on the user's computer, mostly PRAAT", note that Praat doesn't directly modify sound files; the process is rather more convoluted: it imports a sound file as an _object_, modifies the object (but not the file on the disk), and then if you choose to you can save the new object as a _new file_. You should not normally be

[2017-02-03 16:13] PaulHeggarty commented on #425
OK, maybe it would be Audacity or something similar.

[2017-02-03 17:49] runjak commented on #422
In the logs I find an errors like these when searching for `dbimport`:
[code]
From this I inferred that some of the scripts necessary to run the admin interface could not be loaded by the client.
I'm fixing this by adding this rule to the `/etc/nginx/sites-available/soundcomparisons` config:
[code]

[2017-02-03 17:51] runjak commented on #422
The related commit is 97ef1f003c6b064edd72161caf60d71a0b4f627b and from what I can see it should fix the problem.
Please retry, @PaulHeggarty, @Bibiko.

[2017-02-03 19:18] PaulHeggarty commented on #422
Tried it again, having logged out and back in, and cleared the cache, and done a Ctrl-R reload.  And tried on Firefox and Chrome.  Still no reaction.  Sample file I’m trying to upload is attached.
[Languages_Germanic.txt](https://github.com/lingdb/Sound-Comparisons/files/751358/Languages_Germanic.txt)

[2017-02-05 09:01] Linguista commented on #421
I'm afraid the permissions issues are not completely solved. I just uploaded/reuploaded 9 Mapudungun directories. The directories themselves inherited the following permissions:
`drwxrwxr-x   2 sadowsky         sadowsky`

The files they contain, meanwhile, inherited these permissions:
`-rw-rw-r--   1 sadowsky         sadowsky`

It's my understanding that both should belong to the `soundcomparisons

[2017-02-05 09:17] Linguista opened #430 "SQL transcription uploads fail to overwrite previous entries in database"
Using the admin website, I just uploaded new SQL files for 8 transcriptions that I reviewed for consistency and accuracy. However, the old transcriptions are still showing up. This can be seen in any of the following varieties of Mapudungun:

- Mpg_Arg_Cbt_LagoRosario
- Mpg_Arg_Nqn_JuninDeLosAndes_NahuelMapi
- Mpg_Arg_RNg_Jacobacci
- Mpg_Chl_Rgn9_Angol_Chacaico
- Mpg_Chl_Rgn9_CholChol_Malalche
- M

[2017-02-05 13:23] Bibiko commented on #430
This should be related to the issue of clearing the browser's cache and the site cache (logged in as admin) since I can see the latest modifications.
<img width="432" alt="s" src="https://cloud.githubusercontent.com/assets/16273/22626485/a76b35da-ebae-11e6-9fa8-8f29144c9c48.png">

[2017-02-05 22:23] Linguista commented on #430
The variety you posted a screenshot of is a new one that I uploaded for the first time last night, and it does indeed display correctly for both of us.

The problems are occurring with the 8 varieties that I mentioned above. They already had transcriptions, but last night I uploaded new and improved ones which are not displaying. I've used seven different browsers, all with their caches cleared, a

[2017-02-07 20:12] runjak commented on #421
Yes, I agree with your observation.
If I understand correctly `rsync` usually tries to match permissions with your local ones,
and thus will likely 'adjust' them on the server where possible.
I see two possible fixes for this:
1. If I'm not mistaken using ACLs it should be possible to force files created in a directory tree to inherit a certain group, but I'm not sure if this will work in all case

[2017-02-07 22:42] Bibiko commented on #422
Now this should be fixed.

@PaulHeggarty  I've already upload the new "contributors"

[2017-02-07 22:54] Bibiko commented on #430
I found the reason. The used SQL statement` ... ON DUPLICATE KEY UPDATE ...` is wrong – or better on the new database (mariadb) this syntax doesn't work anymore. I will inform you about the new syntax soon.

@PaulHeggarty  This also means that the Praat script `extractWAVFile` has to be changed as well. I'll do it after fixing this issue.

[2017-02-08 04:36] Linguista commented on #430
Note to self... This will require modifying the Praat script I use to extract transcriptions and audio from recordings, too.

[2017-02-08 09:39] PaulHeggarty commented on #422
Just tried it, and it is indeed fixed, many thanks!

[2017-02-08 09:39] #422 closed

[2017-02-08 09:41] LauraWae opened #431 "Brazil: Data"
This is to discuss everything that comes up in relation to the data of the Brazil Project.

[2017-02-08 09:44] LauraWae commented on #431
@PaulHeggarty
Please note that in Index_Brazil, the gloss for "sun" and "moon" ("Sol" and "Lua") were written in upper case. I changed them into lower case in the archive on Owncloud. This might require modification in the database, too. Thanks.

[2017-02-08 09:50] #411 closed

[2017-02-08 10:00] PaulHeggarty commented on #431
I presumed this was a deliberate choice by the Brazilians.  There are languages where things like this are actually capitalised.  Seemed a bit strange to me in Portuguese, but perhaps ask them to confirm.

[2017-02-08 10:02] LauraWae commented on #372
@Bibiko @PaulHeggarty
Since we have now data from a second Vanuta island (Pentecost) and will upload it some time in March or April, the overall study name can no longer be "Malakula", but should be changed to "Vanuatu". Thanks.

[2017-02-08 10:33] LauraWae commented on #337
Uploaded:
Jabutí: Aldeia Baía das Onças.

[2017-02-08 20:04] AvivaShimelman opened #432 "New Malakula recordings - file names, corrected recordings, Giovanni's transcriptions"
"A few minutes" - just a couple of questions for now.

I have the new Access sheet done and I'm working on the recordings. I wanted to check how we want to handle the odd-ball ones, though.

In most cases (21), we simply have straight-out new recordings, and, I assume, those will get listed/treated as all previous ones have. In 8 cases, though, I returned to the same speaker and had them correct (

[2017-02-09 00:00] Bibiko commented on #417
for now I fixed this issue – further improvements will come in the near future

[2017-02-09 00:00] #417 closed

[2017-02-09 00:02] Bibiko commented on #416
fixed with commit e6133bc87d31609cc22bb782c0f06f428b411337

[2017-02-09 00:02] #416 closed

[2017-02-09 00:03] Bibiko commented on #415
fixed with issue e6133bc87d31609cc22bb782c0f06f428b411337

[2017-02-09 00:03] #415 closed

[2017-02-09 00:20] Bibiko commented on #394
This is only true for dialects which don't have a Glottolog code but a ISO code of the language one level up.
E.g.
• http://soundcomparisons.com/#/en/Germanic/language/‘Doric’%20Scots
has no Glottolog code but it refers to ISO sco (Scots) and open this site in Glottolog

• http://soundcomparisons.com/#/en/Germanic/language/Danish
shows the correct link to Glottolog.

Thus I'd say it's a feature fo

[2017-02-10 03:00] Linguista commented on #430
@Bibiko Do let me know what the new MariaDB command should be, please.

[2017-02-10 04:55] Linguista opened #433 "Create "Praat Script" label in GitHub"
Title says it all.

[2017-02-10 05:01] Linguista opened #434 "Enhancing auto-create-tiers-and-speech-segments.praat"
I have some questions that I need answered in order to enhance the `auto-create-tiers-and-speech-segments.praat` script.

1. I need a couple sample filenames of Brazil and Malakula recordings so that I can program the autodetect logic.

2. Could you confirm that `Brazil_index.txt` and `Malakula_index.txt`, as seen on ownCloud, are the two files that need to be read to extract the information that

[2017-02-10 08:06] PaulHeggarty commented on #433
I think you could do this!  Click on `Issues`, then next to the issue filter is a button `Labels`.  ;)  I’ll do it anyway, but no rocket science needed.

[2017-02-10 08:06] #433 closed

[2017-02-10 08:13] PaulHeggarty commented on #434
On (1)
* All Brazil filenames start with:  `Br_`
e.g. Br_Tup_Monde_CintaLarga_Roosevelt_Dl
e.g. Br_Arw_Sth_BoliviaPanara_TKCh_Terena_Miranda_Dl

All Oceanic (including Malakula) filenames start with:  `Oce_`
(Oceanic, because this database will go wider than Malakula, and indeed wider than Vanuatu, eventually)
e.g. Oce_Van_Mal_East_Sth_Uliveo_Lurtes_Dl
e.g. Oce_Van_Mal_East_Sth_Uliveo_Pelongk_Dl

[2017-02-10 08:27] PaulHeggarty commented on #434
Just look for `Oce_`.  It can be made more sophisticated later, if need be.

[2017-02-10 08:27] PaulHeggarty commented on #434
On (2), I can confirm that the files seem to be the right ones, as far as I know!

[2017-02-10 08:43] PaulHeggarty commented on #434
On (3), safer that @LauraWae should say, to ensure consistency with how she has been doing it so far.  The hassle has been the switch to labelling in Portuguese rather than English for the Brazil project.
I’m pretty sure only one tier needs data entering, because the rest are filled in (using the index file as a correspondence table) by the later script to segment the master recording into the ind

[2017-02-10 08:43] PaulHeggarty commented on #434
On (4), I can’t remember!  @LauraWae, can you remember?

[2017-02-10 09:56] LauraWae commented on #434
Hi both,

I confirm Paul's answers to (1) and (2) .

On (3):

The first column ("gloss") needs to be filled into the tier called "Rfc Form" (tier number 1). The second column, "Protoform" goes to tier 2, called "Protoform" (not that much of a surprise, I suppose). The third and fourth columns ("ixelicitation" and "ixmorph") go to tier 3, called "Index". Not that much of a surprise all that, I supp

[2017-02-10 10:09] Linguista commented on #434
Thanks for the answers, guys. @LauraWae, I have one final question: if `ixelicitation` and `ixmorph` go into the same tier, should anything separate them (e.g. `_`)?

[2017-02-10 10:15] Linguista commented on #434
One _additional_ question. There are three sets of `*_index.txt` files. I assume the ones in the `OLD format index files` folder should not be used, but it's not clear to me if I should work with the ones in the `NEW format index files` folder of those that are in the top level of the `All - Scripts for Praat` folder.

[2017-02-10 10:42] LauraWae commented on #434
Hi,

@LauraWae, I have one final question: If ixelicitation and ixmorph go into the same tier, should anything separate them (e.g. _)?

That's a good question. I do not exactly know what those numbers are, apart form identifying the gloss. Also, when the "extractWAVFiles" produces the name, the ixmorph number is not considered i.g. does not appear on the long file name (e.g. Quechua files).

Maybe

[2017-02-10 11:10] PaulHeggarty commented on #434
On (3), it is a *bad* idea to fill in any other tiers than the single one that is necessary, which is `Rfc Form` (tier number 1), I presume.  This is because this is just a first automated run, to be corrected manually as necessary.  If any correction needs to be made, it should be very simple, just one tier, not correcting all four tiers.  That is a recipe for inconsistencies.  The later stage sc

[2017-02-10 11:14] PaulHeggarty commented on #434
As for which folder to use the index files from, Laura is right, but for me personally, this really offends my brain and eyes, to have files of radically different forms and purposes, produced and run by different people, all lumped together.  It may be 'the new logic', but it's a mess.
Instead there should be a dedicated subfolder for index files, and index files only.
The reason this hasn't been

[2017-02-10 12:04] Bibiko commented on #430
The files on ownloud `extractWAVFiles.praat` and `extractWAVFiles_Ariel.praat` were updated with the correct SQL INSERT statement.

Since the problem only occurred while updating existing records, it is **not** necessary to re-run this script for those languages which were created for the first time.

For the records:
The first part until `ON DUPLICATE KEY UPDATE` is **unchanged**.
Here is the cor

[2017-02-10 13:59] Linguista commented on #434
Agreed.

The reason this hasn't been done is because it entails adjusting all the praat scripts that use the index files, including Hans-Jörg's. But Scott, if you are happy to tweak them so that they all look for index files in their own separate sub-folder, I would much prefer that, and start sending my programmatic updates of those files to said subfolder.

I've looked over the Malakula and Braz

[2017-02-10 14:38] LauraWae commented on #434
Hi,
There maybe Giovanni from Italy and Ariel from Brasília using the Romance or the Brazil index. However, we could simply notify them of the changing of folders. If nobody has any objections to it, I will create one folder where all index files go, called "All Index Files".

[2017-02-10 14:53] PaulHeggarty commented on #434
I’ve already done some re-structuring on OwnCloud.  I don’t like the idea of the name `All Index Files`, because `All` is used elsewhere for things that apply to all users, all sections of Sound Comparisons.
In any case, I’ve also moved the 'OLD' and 'NEW' format files into the old backups folder now, since that's all they’re needed for by now, for reference.
The one remaining question is whether

[2017-02-10 14:56] LauraWae commented on #432
Hi Aviva,
Thanks for your detailed description. Kerstin has already reported that the SD-card has arrived in Jena. So, on Tuesday I will have a look at it.

Please, pre-edit the new recording with just the 15-20 terms. There is no problem in overwriting the existing, now "old" ones on the server.

Thats fine for me, thanks for considering.

All the best,
Laura

[2017-02-10 15:33] Linguista commented on #434
If they're only used by/for Praat scripts, I'd recommend putting them in the Praat script folder.

[2017-02-10 16:44] Linguista opened #435 "Make more powerful version of auto-create-tiers-and-speech-segments.praat"
_Our previous exchange on this matter has become convoluted enough that I'm going to make a new issue (this one) with a design spec based on what I understand to be the consensus on each issue. Please comment on any errors, problems, omissions, etc._

The next version of the `auto-create-tiers-and-speech-segments.praat` (version 3) should do the following:

1. Autodetect the language of the record

[2017-02-10 16:45] Linguista commented on #434
@PaulHeggarty, once you're done with these comments, either close the issue or let me know so I can do so. I've made a new issue for the new and improved Praat script.

[2017-02-10 16:57] PaulHeggarty commented on #434
It's within the praat scripts folder for now, so let's leave it there.  The index files are also used by Hans-Jörg for some other purposes perhaps, but I think this will do for now.

[2017-02-10 17:11] #434 closed

[2017-02-10 21:36] PaulHeggarty commented on #435
On point 2, the reason it's called Malakula_index is because the name of the study across the website is Malakula.  It's future proofing that sound-files have Oce_ in them.  If and when we get to that stage, we can change the study name to Oceanic, but to pretend that would be a gross exaggeration at the moment.  We may within a year change its name to Vanuatu, if we get enough recordings from out

[2017-02-10 21:52] AvivaShimelman commented on #432
Hi, Laura,

Nononononono ... The SD card is addressed to me. I sent it to myself . It was just a way of squirreling data away in another place until I got somewhere where I would be able to upload the files. Just hold on to the card, please. Those files are not "website ready."

A.

[2017-02-10 23:22] Bibiko commented on #423
I refactored the admin/upload interface and I renamed the tab into 'Database' since there're several commands which all have something to do with the underlying database. In respect of more fine-grained access rights I'll open a new issue.

[2017-02-10 23:22] #423 closed

[2017-02-10 23:24] Bibiko opened #436 "We need to move to a new system of user rights – who is allowed to do what"

[2017-02-11 07:37] Linguista commented on #430
Bibiko, could you send me one of the SQL files that your script creates so that I can make sure mine is producing the same output?

[2017-02-11 17:35] Linguista commented on #430
I've modified the relevant Praat script (ownCloud: `SndComp/All - Scripts for Praat/Scott/MaSCoT-for-SOtAL--EXPERIMENTAL.praat`) to produce SQL files that are compatible with the new database system, using @Bibiko's code snippet. The problem is now resolved as far as I can see, so I'm closing the issue.

[2017-02-11 17:35] #430 closed

[2017-02-11 18:18] #421 closed

[2017-02-12 11:51] Linguista opened #437 "User/group problems on newly-uploaded sound files"
The audio files that I upload to the server (using SSH over the MPI VPN) still inherit my user and group (`sadowsky:sadowsky`), which means the Sound Comparisons website can't read them. Their user and group need to be changed to `soundcomparisons:soundcomparisons`, but I don't have sufficient permissions to do that.

Something similar was reported in #421. At the time, @runjak mentioned the follo

[2017-02-12 13:02] Bibiko commented on #437
I'll install a service which runs all 4 hours to fix user and group but also permissions (664). @Linguista can you check after clearing the cache if your newly uploaded sounds are working?

But, my over-all aim is to come up with an admin interface which allows to simply select a local folder and to upload all sound files to the server, including to set all permissions etc. correctly.
On my local

[2017-02-12 13:39] Linguista commented on #437
Just checked, and everything appears to be working perfectly. Thanks for the quick response!

A full-featured admin interface would be great, by the way.

[2017-02-12 13:39] #437 closed

[2017-02-12 16:22] Bibiko commented on #424
@PaulHeggarty
at 1) could you please provide an example
at 2) translated sites are static sites within this wiki; simply add a new Spanish wiki page e.g. About-Page:-Mas-Info, write some context, and add via admin>translate>Spanish>General [look for "About-Page"] and save the correct new URL [in that case: #/about/About-Page:-Mas-Info]
at 3) this is a bug I'm just digging in

[2017-02-12 20:44] PaulHeggarty commented on #424
Actually, these issues were raised by @Linguista, so best if he could respond to your points on 1 and 2.  Thanks for the clarification on 2.  The main point here is that the English pages are still not written!  When I get a chance to, then I’ll request translations in some of the major site languages (but not all -- too much work!).

[2017-02-13 00:03] Bibiko commented on #424
at 3) fixed

[2017-02-13 00:12] PaulHeggarty commented on #424
Hmm, fixed and debugged at 1:03 am on a Monday morning.  You really will fit in with the Sound Comparisons team!  ;)
Many thanks!

[2017-02-13 01:53] Bibiko commented on #424
at 1) fixed

[2017-02-13 01:54] Bibiko commented on #424
since 2) isn't an issue on the code side, I assume that we can close this issue

[2017-02-13 01:54] #424 closed

[2017-02-13 07:12] Linguista commented on #424
We should probably make a new issue for 2), since it needs to get done at some point, but I'll leave that decision to @PaulHeggarty. This is the issue:

[2017-02-13 08:05] Linguista opened #438 "Sound Comparisons server is incredibly slow for uploads"
When I upload sound files to the Sound Comparisons server, using SSH and the MPI VPN, I get an average upload speed of 30 KB/s. This is _incredibly_ slow, reminiscent of the speeds I got in the 1990s, and it's making it very hard to work (each language variety requires uploading 600-700 files, which can take an hour or more).

My internet connection has 5 Mbit of upload speed, so that isn't the pr

[2017-02-13 09:58] LauraWae commented on #432
Hi Aviva,
Ok, thanks for advising,
L.

[2017-02-13 10:00] PaulHeggarty opened #439 "All Sound Files 'Automagically' Stop Working"
This is a mysterious but very serious problem that we have experienced a few times in the past, and has now happened again, so it would be good to try to work out what is causing it.

It is a serious, critical bug that takes down all sound files in some but not all sections of the site.
In this case, the entire Brazil and Celtic sections are dead, but not the other studies.

As Laura and I can con

[2017-02-13 10:20] PaulHeggarty opened #440 "New Malakula Languages (February 2017)"
Aviva has sent in the new Malakula languages tree structure.  Three tasks for Paul here:
- [ ] New recordings to add (23):  highlighted dark olive (23?).
- [ ] Revised recordings (8?):  highlighted light olive (shouldn't require any changes to Access).
- [ ] Revisions to latlongs:  highlighted in tangerine (new map work allowed old guesses about former locations of interior languages to be refined

[2017-02-13 10:28] PaulHeggarty commented on #440
Several of the new recordings are named the same as existing ones, but as version 2 of that one.  E.g. Peskaros 2, Hokai 2, etc..  Some questions for @AvivaShimelman:
* Are these just multiple speakers of exactly the same variety?
* Should they both be up on the website?  (Pretty messy to display them, currently.)
* Should version 2 replace version 1?
* What's the logic for having 2 speakers?  For

[2017-02-13 10:28] Bibiko commented on #438
This issue is not directly related to this particular server. This behaviour I've been encountering since years with several servers. At home I also have a really fast internet connection but via VPN to Jena/Göttingen the upload speed is in 98% of all cases similar to 30 kB/s. In rare cases a re-connect helps but not really. In addition at my place I also have access to an Eduroam-Wifi which I'm u

[2017-02-13 10:30] PaulHeggarty commented on #440
@AvivaShimelman, can you also confirm an important question about the 23 new varieties to add:  do they all just need inserting into the current nested structure, at levels that already exist for the existing languages, or are there cases that needed you to add new nodes higher up the nested structure (levels up to 5)?

[2017-02-13 10:43] PaulHeggarty commented on #440
Another for @AvivaShimelman:  Netimb now seems nested under Aulua, but currently it's called Netimb: Bangir, rather than Aulua: Netimb.  It seems the same place and variety, so I've changed the lat-long as you indicated, but wanted to check this was all ok, and whether the display name should change.

[2017-02-13 10:46] PaulHeggarty commented on #440
I’ve updated the latlongs as indicated.  @AvivaShimelman, you might want to check they’re right now.

[2017-02-13 10:55] PaulHeggarty commented on #438
Is the problem -- and therefore title of this issue -- not a more general one about the server speed in Göttingen.  It's a horrible, debilitating problem with CoBL too, far and away the number 1 gripe by all our users, that the site is excruciatingly slow.  And when Göttingen broke the site, and Jakob had to set up his own laptop as a replacement server as an emergency for a talk Cormac and I were

[2017-02-13 11:02] Bibiko commented on #439
The permission of sound files is correct since other studies are working. I found a permission bug based on removing the docker system which is partly related. But I'm just digging into that.

[2017-02-13 11:16] Bibiko commented on #439
Could it be a data problem? At least this site shows some transcriptions:

http://www.soundcomparisons.com/#/en/Celtic/language/Léon%3A%20Plouarzel

[2017-02-13 11:18] PaulHeggarty opened #441 "Preparing Excel Transcription / Orthography Sheets for Brazil"
For some languages in the Brazil project, we can already enter orthographies, which have already been prepared for the elicitation stage.  These can be entered in the Orthography column (43, not 15!) in the Excel Transcription sheets, as used for most other studies in Sound Comparisons.  There does not need to be a phonetic transcription entered yet, but these sheets will be useful for that purpos

[2017-02-13 11:36] Bibiko commented on #439
I looked into the online database. For Celtic **only 144** transcriptions are stored (IxElicitation 1,2,3,4,5,6,7,8,9,10,11,20) and for Brazil **no** transcriptions are stored.

[2017-02-13 11:40] PaulHeggarty commented on #439
This is correct, but it's not the problem.  The problem is precisely that when there is no transcription, the normal behaviour should be that the site looks for a sound file, and if one exists, then you get the blue play arrow, not 'soon'.  'Soon' is only for when the sound file is missing.  On Friday, all Celtic languages but two had working blue play arrows for all words, and so did 8 of 11 Celt

[2017-02-13 11:42] PaulHeggarty commented on #439
The point is that in most cases, we have sound files long, long before we ever get round to the transcriptions.  (Indeed we use the site to help with producing the transcriptions.)  We have a great set of Celtic recordings, which we want online now, because it will take Cormac ages, and a few months of time and funding, to do the transcriptions, and that may not be until 2018.  But we want the rec

[2017-02-13 12:13] PaulHeggarty commented on #439
To confirm and clarify:  this issue is about *sound files*, not about *transcriptions*.  Or at least, it _should not_ be about transcriptions!
However, that may be the clue to the solution.  When Laura runs your script, it should automatically create a dummy, placeholder record for every sound file, but with a blank transcription.  Perhaps' it's that that allows the site to look for a correspondin

[2017-02-13 13:02] Bibiko commented on #439
Ok, I got it and I've a vague suspicion that the admin command "Missing sound files" could have to do with it.

[2017-02-13 15:42] PaulHeggarty commented on #440
By this stage, the spreadsheet that Aviva sent has become so outdated and messed about by multiple conversions between different forms of excel (PC vs. Mac) that it has become totally unworkable.  There were many problems, including the nested structure being inconsistently ordered in many places, blank rows, and so on.  I’ve had to radically recreate it.  The new one is now on OwnCloud.

*Please,

[2017-02-13 17:16] Linguista commented on #435
I've finished this script, and the new version (3.0) can be found in the Praat scripts directory on our **[ownCloud](https://oc.gnz.mpg.de/owncloud/index.php/apps/files/?dir=%2FSndComp%2FAll%20-%20Scripts%20for%20Praat)**. It's called `auto-create-tiers-and-speech-segments.praat`.

It seems to work correctly, but of course it could do with testing, so test away!

I'm beginning to write some docume

[2017-02-13 20:17] AvivaShimelman commented on #440
Right.

[2017-02-13 20:22] AvivaShimelman commented on #440
Yes. Not ideal. It was a result of the need to get non-inflected
versions of the recordings. If there are only, say, three dialects of
a language (common with languages with 80 speakers), and I already
have three recordings on the site, if I have to do a new one, that new
one will likely be of one of thoes same dialects. Two solutions:
1. Just replace the old recording. But that loses a lot of
inf

[2017-02-13 20:27] AvivaShimelman commented on #440
Only one case with a new higher (level 5) node:
Larevat.
It is the unique entry (numbered 3) under West (level 3 - (2)) and
North (level 2 - (1)

A.

On 2/13/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-13 20:35] AvivaShimelman commented on #440
After an hour (no joke!) with the speaker getting the former
boundaries of the language right, I couldn't be more confident of the
latlongs I entered for it.
Calling it Bangir would have been a mistake.
Bottom line, call it Aulua: Netimb.

Longer explanation - Netimb:Aulua makes sense in a way. Speakers refer
to Netimb as a "language." It has 7 speakers, all of whom have been
living in different A

[2017-02-13 21:02] Bibiko commented on #439
Finally, after a very long and stony way through the code, I found the bottleneck and I fixed it for now by removing lines of code which are actually wrong (erroneous SQL statements) and which doesn't make sense to me. That's why I keep this issue open until I discussed it with @runjak https://github.com/lingdb/Sound-Comparisons/commit/13c0070ad7ff2cc6948480c2b9f1b56b0986da21

@PaulHeggarty @Laura

[2017-02-13 21:11] PaulHeggarty commented on #440
I have now just finished a significant update to the excel spreadsheet, updated now on OwnCloud, please now go ahead and make corrections to that if necessary.
I’ve also attempted to put all new languages on the website.  Obviously, there are now some problems showing up there, but I wanted to do this so that both of you, @AvivaShimelman and @LauraWae, can see where any problems are.  Once you’ve

[2017-02-13 21:12] PaulHeggarty commented on #440
Please let me know if there's anything in the old reference data sheet that is still missing from the new for pasting sheet.

[2017-02-13 21:15] PaulHeggarty commented on #439
Great, and yes, that has fixed it.  (Didn’t need to clear the cache, actually.)  Back to how it should be.  This also sounds like this means it won’t recur, which is a relief.  That one has being bugging us for a few years now.  Good stuff!

[2017-02-13 21:23] AvivaShimelman commented on #440
Got it.

Some answers, some questions:

wrt Languages without unique codes.

On this sheet, it does look like there are three cases where level 5
numbers with the same level 4 and 3 numbers are doubled.

One by one.

It looks like Wala Preng and Wala Small Island (both 7-5-49) have the
same number. Preng is a specific place on the small island. There is
no recording "Wala Small Island" on the site

[2017-02-13 21:23] AvivaShimelman commented on #440
On it.

On 2/13/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-13 21:29] PaulHeggarty commented on #440
1. So I'll delete Wala Small Island and leave only Wala Preng, OK?
2. I'll set Elu to 86 then.
3. Bislama is a special case which I’ve tweaked individually.  Not a problem now.

[2017-02-13 21:29] PaulHeggarty commented on #440
Yes, the explanation lies in all of those multiples you mention.  That's just how it is.  No worries.

[2017-02-13 21:31] AvivaShimelman commented on #440
SOunds right.

On 2/13/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-13 21:34] AvivaShimelman commented on #440
Will do. Any big mistakes will be obvious right away on the site, of course.

On 2/13/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-13 22:52] AvivaShimelman commented on #440
Short answer to immediate question:

Yes. Speaker names had been filled in. (They now appear just as
notes). And there seem to be a bunch of ISO and glotocodes missing
even for languages for which they exist. Also missing for the same
languages: L and L. All affected languages seem to be dialects of
languages that appeared with single representatives in the first demo
site (December 2015).

Answer

[2017-02-13 23:02] #186 closed

[2017-02-14 01:04] AvivaShimelman commented on #440
Excellent! The two-sheet system just opened up the door to too many
inconsistencies, in my view.
We're working with two different sets of sheets with multiple
iterations, so it's hard, even with the dates, to know what is
current, i.e., what trumps what.

It *looks like* the new "00" sheet (love the colors!) imported the L
and Ls off of the last (2017 02 12) "for pasting" sheet. The problem
is the

[2017-02-14 09:24] Linguista opened #442 "Kindly share and test the Praat auto-create-tiers-and-speech-segments.script"
The new and vastly improved version of auto-create-tiers-and-speech-segments.script is now ready and documented. It can be downloaded **[here](https://oc.gnz.mpg.de/owncloud/remote.php/webdav/SndComp/All%20-%20Scripts%20for%20Praat/auto-create-tiers-and-speech-segments.praat)**, and the wiki is **[here](https://github.com/lingdb/Sound-Comparisons/wiki/Manual:-auto-create-tiers-and-speech-segments.

[2017-02-14 09:24] #435 closed

[2017-02-14 13:04] LauraWae commented on #367
Notes to myself:
The following transcriptions are missing on the site:
Venen taute: Leviamp
Naha'ai: Malfaxal
Nisvai: Blacksands
Nasvang: Farun
Avok: Hokai 1
Uliveo: Peskaros

[2017-02-14 13:04] LauraWae commented on #440
Hi both,
I have carefully read your conversation and see that there is no a lot I can contribute.

However, concerning **V'enen Taute: Benenavet** and **V'enen Taute: Benwara**:

No, we have not added them yet. When I saw them in October last year, when we were uploading the previous bunch of files, I looked up for an entry in the Reference Sheet and there was none. So, I decided to leave them in

[2017-02-14 14:05] LauraWae commented on #442
Hi Scott,
Thank you so much. I have just played around with it. It seems very clear and easily to deal with to me.
For now, I have one small point to improve: the abbreviation for Brazil in our naming system is "Br", not "Bra". Sorry if we have given/confirmed erroneous information about that.

[2017-02-14 14:28] LauraWae commented on #439
Confirmed, too, from here. Thanks!

[2017-02-14 14:30] Linguista commented on #442
Thanks for the feedback, Laura. I just uploaded a corrected version of the script which has "Br_" as the abbreviation for Brazilian recordings.

[2017-02-14 14:41] LauraWae commented on #442
Hi,
A second one:
The function "doubled words" as "Type of elicitation" is not very helpful because "extractWAVfiles" does not accept doubled glosses. I have tried it with a doubled-glossed textgrid, and it does not extract any soundfile.

However, in general, we also want only one sound of one word uploaded.  We only want two, where there are signifcant differences in the spelling or in morpholog

[2017-02-14 14:46] LauraWae commented on #442
A third thing that comes to me is the question about what to do with introductory speech at the beginning of each recording. We tend to preserve that information even on the cleaned up and pre-edited sound files for the extracting, for documentary reasons. Is there a way the script could recognize a speech like "My name is X, I live in Y and I speak my language Z"? The script should then start onl

[2017-02-14 15:09] LauraWae commented on #442
As we are expecting about 25 completely new languages from Malakula within the next month, I thought of another broadening functionality of the script:

It could be nice to be able to apply this script to several sound and textgrid files at a time, like for example 25 cleaned up soundfiles with their textgrids which are all in one folder.

[2017-02-14 15:12] Linguista commented on #442
That's indeed a possible solution. It introduces a certain possibility of human error when copying and pasting, but nothing too serious, I should think.

I've just added two new options to the "Insert glosses" function: "Doubled words (suppress first word)" and "Doubled words (suppress second word)". The original option is now called "Doubled words (all)".

I'll upload this as soon as other change

[2017-02-14 15:18] LauraWae commented on #440
Concerning this:

That means, it is highly recommendable to exchange or quit that one, right? Will do.

[2017-02-14 15:24] LauraWae commented on #372
Note to myself (from #440

- [ ] Look up that word on the server; check in archive and replace or quit it.

[2017-02-14 15:24] Linguista commented on #442
Short of adding speech recognition and content analysis, I can't think of any way to accomplish this automatically -- to the script, speech is speech, whatever it's about.

But this is trivial to deal with manually -- just delete the `s` from the intervals in which the speaker provides information about themselves and their language and then (re-)run the "Insert glosses" function.

[2017-02-14 15:50] AvivaShimelman commented on #440
Sorry. I remember that this was a conversation we had just before I
left (and you, too) on our last field trips. I think we decided that
that swath just looked too bare and, even if it were just for
aesthetic reasons, it made sense to include a couple more V'enen
Tautes. It's altogether possible that I never amended the sheet. I'll
include those with the new batch as soon as I have a "final word"

[2017-02-14 16:04] Linguista commented on #442
I've uploaded the newest version of the script (v3.2) and updated the wiki.

[2017-02-14 16:09] AvivaShimelman commented on #440
Right. Just kill that word please.

I'm guessing now that the consultant, a bit hard of hearing, heard
"wanem" ('what') when I said "woman." I checked entries against
Crowley's lexicon, but, as that language, Naman, is one of those
two-speakers-left languages, I didn't have a chance to check it
against the production of another speaker. I probably should have
noticed that the word got repeated, bu

[2017-02-14 16:14] Linguista commented on #442
Being that it's virtually impossible for everything to be segmented and labeled perfectly without at least _some_ manual intervention, you're still going to have to deal with each recording individually, so recursive processing would save very little time, indeed.

Plus, if this were implemented you'd end up with 25 different Sound objects and 25 different TextGrid objects, all with nearly identic

[2017-02-16 11:12] LauraWae commented on #442
Yes, I can see that.

Actually, the file names are not that similar (if you have a look at the Malakula file names for example). However, I also get your point that it makes sense to take care of each sound file individually. However, thanks for considering.

[2017-02-16 12:00] LauraWae commented on #372
Hi @PaulHeggarty
As you may have seen in #367 , some transcriptions have stopped working (those of these languages: Venentaute: Leviamp; Naha'ai: Malfaxal; Nisvai: Blacksands; Nasvang: Farun; Avok: Hokai; Uliveo: Peskaros).

This could be due to changes that were made in the file names. Could please export a reference sheet for the new data so I can check and - given the case - change names? Thank

[2017-02-16 13:32] PaulHeggarty commented on #372
I've created a new Reference sheet, as you asked, with both old and new sheets within it (be careful!).  I’ve also created a new excel workbook, now in OwnCloud:
2017 02 16  CURRENT  Comparison of Malakula Languages Reference Sheets.xlsx
This includes the new Reference Sheet, but has several other sheets too, to help you identify the mismatches.  Above all, the sheet called `Cross-Check for Name M

[2017-02-16 17:27] AvivaShimelman commented on #372
Wait! (If it's not too late to wait). Do you want me to check that the
L and Ls on that sheet are the gen-latest? And if they are not, where
and how do you want them changed?

A.

On 2/16/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-16 20:53] PaulHeggarty commented on #372
As noted earlier, I have already updated the LLs that you highlighted for updating, so they already should be fine, and not need checking.  The latest Reference Sheet (on its 'NEW' sheet) should also already have all the latest LLs.  Nothing you need to do there.
Other data can usefully be corrected/filled in on that, it's much safer for me to update from the Reference Sheet than from the Nested T

[2017-02-17 05:01] AvivaShimelman commented on #372
Thanks. You'll understand if I'm a little gun-shy with regard to these
things and would rather try your patience by making you repeat it than
hear later that I was one generation behind.

A.

On 2/16/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-17 10:50] LauraWae opened #443 "Progress Tracker: Malakula Data 2"
## **This is to document the progress being made in cleaning up, tagging and uploading languages from Vanuatu to the Sound Comparisons Server.**

[2017-02-17 10:52] LauraWae commented on #443
Files still to process:

- [ ] wl_160055_Taute_09_Benwara_selected
- [ ] wl_160052_Taute_06_Benenavet_selected

[2017-02-17 10:53] LauraWae commented on #443
** wl_160055_Taute_09_Benwara_selected**
- tagged and uploaded to 3b.

[2017-02-17 11:23] LauraWae commented on #443
**wl_160052_Taute_06_Benenavet_selected**
- tagged and uploaded to 3b.

[2017-02-17 22:45] AvivaShimelman commented on #443
We're go!

On 2/17/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-19 02:36] Linguista commented on #442
Seems things are working okay, so I'm going to close this.

[2017-02-19 02:37] #429 closed

[2017-02-19 02:38] Linguista commented on #438
I think we all know this, but I just uploaded a new set of recordings and the speed is as slow as ever, so this is clearly not a transient issue.

[2017-02-19 04:30] AvivaShimelman commented on #442
Hi, Scott,

I'm currently in Seattle, Washington (GMT-8). I've noticed that a lot
of your posts come in at what would be the end of the workday here. Do
you stay up really late? Get up really early? Are you not on Central
Europe time? Do you have a delay programmed on your email?

:)

A.

On 2/18/17, Scott Sadowsky <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-19 04:34] Linguista commented on #442
No fancy technology involved -- I'm back in Chile (GMT -3:00) now, plus I'm a natural born night owl ;-)

[2017-02-20 09:43] LauraWae opened #444 "Brazil Progress Tracker"
This is to track the editing and uploading of languages of the Brazil Project.

[2017-02-20 09:44] LauraWae commented on #444
Uploaded:
Cinta Larga / Br_Tup_Monde_CintaLarga_Roosevelt_Dl

[2017-02-20 10:51] LauraWae opened #445 "Pictures for WIKI"

[2017-02-20 10:53] LauraWae commented on #445
![capture](https://cloud.githubusercontent.com/assets/10007762/23122115/32ed4cc8-f763-11e6-82cb-2774eb59a2f4.JPG)

[2017-02-20 11:00] LauraWae commented on #445
![capture2](https://cloud.githubusercontent.com/assets/10007762/23122338/1795742c-f764-11e6-8fe8-d4ee6a278ea7.JPG)

[2017-02-20 11:02] LauraWae commented on #445
![capture2](https://cloud.githubusercontent.com/assets/10007762/23122429/75decc0e-f764-11e6-8816-bfa039a6bce3.JPG)

[2017-02-20 11:05] LauraWae commented on #445
![capture3](https://cloud.githubusercontent.com/assets/10007762/23122496/b9ab66e0-f764-11e6-88d7-bf50b7f26424.JPG)

[2017-02-20 17:48] AvivaShimelman commented on #445
Morning!

Question about flow chart --
Can you mark up an unfamiliar language without the transcription? You
have transcription listed as the last task. (?)

A.

On 2/20/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-20 17:52] AvivaShimelman commented on #445
Morning!

I know this is a draft, so you'll get to these things later, but you
will forgive an old English professor for having a thing for "parallel
structures."
Preferable to -
use the same structure throughout, i.e., either full sentences or
subject-less bullets (my preference) throughout and then either
initial caps or no caps (my preference) throughout.

A.

On 2/20/17, LauraWae <notification

[2017-02-21 11:41] LauraWae commented on #432
Hi @AvivaShimelman
In your list of potentially affected terms above, you mention the word "pay". We have not used this word before, so, after doing some semantic reflection exercises ;), I suppose it refers to "buy". However, those are two different meanings. Do we need to change that word in our list of glosses? Thanks.

[2017-02-21 11:52] LauraWae commented on #443
**wl_0010-R_Avava_Tisvel_revised_selected**
- tagged and extracted.
- Uploaded to website.

------------------
@AvivaShimelman Since this is the first time we upload revised words, could you just have a look if the "right"  words are now working on the website and give some feedback? Thanks.

[2017-02-21 13:09] LauraWae commented on #443
**wl_0035-R_Tape_Tautu_revised_selected**
- tagged and extracted.
- uploaded to server.

[2017-02-21 13:11] LauraWae commented on #432
Hi again @AvivaShimelman
I have a question about the revised files.
Do I only have to extract the words which are on your list above (hand,..., new)? Or do you want to extract me each word that those files contain? Thanks for replying.

[2017-02-21 18:23] AvivaShimelman commented on #432
No need for changes. In Bislama, "pem" is 'buy.'

A.

On 2/21/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-21 18:23] AvivaShimelman commented on #443
Will check as soon as I get through my emails.

A.

On 2/21/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-21 18:28] AvivaShimelman commented on #432
I'm not sure what list you're referring to. The general answer ****
with regard to the R files **** is that if a word is in the recording,
it is meant to be extracted (i.e., meant to go on the site, replacing
any word that is already there, if there is one). This applies both to
the words that replace those Giovanni transcribed as well as those
which I alone transcribed. All other words from the o

[2017-02-21 18:34] AvivaShimelman commented on #443
WAIT WAIT WAIT WAIT WAIT! I know I have not given you the
transcription for this file yet. That means that if you upload the
sound files to the site, those files may or may not match the
transcription as it appears now on the site. I'll be uploading the
transcriptions today and tomorrow, but, until then, we can only test
the five for which you have transcriptions already.

A.

On 2/21/17, LauraWae

[2017-02-22 08:07] #445 closed

[2017-02-22 08:36] LauraWae commented on #443
Ok, so I will wait for the transcriptions. That means, in general, that I will wait to upload any sound before I have not uploaded revised transcriptions.

[2017-02-22 08:39] LauraWae commented on #432
Hi, got that. Thanks. Good reason to switch off the two languages for which I did R-files yesterday. Will return to this when I have re-done them.

[2017-02-22 09:12] AvivaShimelman commented on #443
Right. You have the transcriptions for 5 revised recordings. I can
upload the rest in batches of 3 or 4 over the next two or three days.

A.

On 2/22/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-22 09:13] AvivaShimelman commented on #432
I think so. They'll all be getting up over the next couple of weeks in
any case.

A.

On 2/22/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-22 09:31] LauraWae commented on #442
Hi Scott,

I have a follow up question that came up when starting on the Malakula files with the script.

The word list order of Aviva's recording and the word list order of the index are not the same. So, the automatic fill-in function is not working as it should. Attached you find Aviva's wordlist order. Can you create a second kind of index that the script could use to fill in the words properl

[2017-02-22 19:36] Linguista commented on #442
Hi Laura,

We can certainly make it possible to use this other Malakula wordlist; we just have to decide how.

Can the sound files used with this new word list be systematically distinguished from the sound files used with the other word list? If so, the selection can be automated. If not, users will have to manually select the second wordlist.

On a different matter, the file you sent me is nothi

[2017-02-22 20:05] Linguista commented on #442
There are two other possible issues with the new word list.

1. Four of the words have initial caps ("Hand", "Left", "Right", "I"), where as only "I" has them in the main Malakula list. I _suspect_ that the post-processing script that is run later in the workflow will choke on the first three of these words, as they're lower case in the other index file. So **is there any problem if I write the fi

[2017-02-22 21:09] #432 closed

[2017-02-22 21:20] AvivaShimelman commented on #361
@LauraWae only
I uploaded some transcriptions to the transcriptions folder in 163 selected recordings. Please note that I replaced the original recordings that corresponded to these transcriptions with newer versions. Changes are minor and if you've already edited these files, the changes will actually make no difference. There are two instances where elicitation order may not match list order. Th

[2017-02-23 11:11] LauraWae commented on #443
**wl_150052-R_Pangkumu_Datisman_revised_selected**
- re-tagged and extracted.
[ ] - upload.

[2017-02-23 11:12] LauraWae commented on #443
**wl_160012-R_Wala_Worprev_revised_selected**
- re-tagged and extracted.

- [] upload

[2017-02-23 11:13] LauraWae commented on #443
**wl_160044-R_Venen Taute_Alpalak_revised_selected**
- re-tagged and extracted.

- [ ] upload.

[2017-02-23 11:36] LauraWae commented on #443
**wl_162087-R_Navwien_Mbonvor_revised_selected**
- re-tagged and extracted.

- [ ] upload

[2017-02-23 11:42] LauraWae commented on #442
Hi Scott,
That's my part, I will do it. Thanks.

[2017-02-23 15:42] AvivaShimelman commented on #443
Looks like today is a work day for you. You've got seven new
transcriptions for fun and enjoyment. Seven on the way!

On 2/23/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-24 06:51] LauraWae commented on #443
**wl_160080-R_PortSandwich_Merivar_revised_selected**
- re-tagged and extracted.

- [ ] upload

[2017-02-24 06:56] AvivaShimelman commented on #443
Very exciting! I just uploaded a new set of transcriptions. As always,
let me know if you run into problems.

A.

On 2/23/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-24 07:23] LauraWae commented on #443
**wl_162087-R_Navwien_Mbonvor_revised_selected**
- re-tagged and re-extracted.
- [ ] upload.

[2017-02-24 09:05] LauraWae commented on #372
Hi,
The transcriptions have not re-appeared. It actually cannot be due to changing of file names, because then, the sound obviously would not work either. So the transcriptions for those languages are still not showing:Venentaute: Leviamp; Naha'ai: Malfaxal; Nisvai: Blacksands; Nasvang: Farun; Avok: Hokai; Uliveo: Peskaros.

I am going to upload new transcriptions now. Maybe we get a clue then.

[2017-02-24 09:30] LauraWae commented on #367
Inserted the following corrected transcriptions:
160044-R_Taute_Alpalak_revised
160012-R_Wala_Worprev_revised
1620087-R_Navwien_Mbonvor_revised
150052-R_Pangkumu_Datisman_revised	160080_R_PortSandwich_Marivar_revised

- [ ] uploaded

[2017-02-24 09:52] LauraWae commented on #442
Hi again, Scott.
Please find attached the corrected word list.

This word order has always been used by Aviva in her recordings, so there is no need to include an option to select or any other mechanism. (The order of index file follows up the index number of each word.)

[Malakula_wordorder_queals_elicationorder.txt](https://github.com/lingdb/Sound-Comparisons/files/798879/Malakula_wordorder_quea

[2017-02-24 10:39] PaulHeggarty commented on #372
* If sound files fail, it's because there's a problem with the filename.
* If transcriptions fail, it is not to do with the filename, but with the Language Full Ix number in the tree structure.
There have been changes/corrections in the language tree structure, so it's possible that the Language Full Ix number has changed. for (some of) these languages.   The Excel transcription sheets still conta

[2017-02-24 11:27] Bibiko commented on #372
@LauraWae
to get the latest LanguageIx numbers, go simply to SoundComparisons' admin site > Database > Generate Language Indices File => the file will be downloaded. Open this file (it's a tab-delimited text file), look for the file name and you'll get the latest Ix number for that language. (In addition you can copy this newly generated file to owncloud :)

[2017-02-24 11:29] Linguista commented on #442
Hi Laura,

I'm a bit confused now. Do you still need to use _both_ Malakula wordlists, and therefore need a way to select one or the other?

Or does this wordlist _replace_ the other? Because in this case, you should be able to just delete the old one, give this one the same name that the old one had, and add a first line as a header (anything will do; the script discards it), and then start using

[2017-02-24 12:35] LauraWae commented on #367
Hi @PaulHeggarty
Could you please create the transcription sheets for the new Malakula files? There are a lot of transcriptions coming in from Aviva.
Thanks a lot!

[2017-02-24 13:16] LauraWae commented on #372
Hi both,
Thanks for those solution proposal, and especially thanks for the hint to the Language Indices file. I have saved it to `ownCloud\SndComp\All - Scripts for Praat
`
Please note that

Venen Taute: Leviamp is not listed in this file.

With

Uliveo: Peskaros / Oce_Van_Mal_East_Sth_Uliveo_Peskaros_Dl
Naha'ai: Malfaxal / Oce_Van_Mal_West_Sth_Naahai_Malfaxal_Dl
Nasvang:Farun / Oce_Van_Mal_Int_St

[2017-02-24 13:23] Bibiko commented on #372
@LauraWae

hmm, I found:
48741157209	Oce_Van_Mal_Nth_WSth_VenenTaute_Leviamp_Dl

[2017-02-24 13:27] LauraWae commented on #372
That's strange:
![capture](https://cloud.githubusercontent.com/assets/10007762/23305080/508b01e8-fa9d-11e6-8b20-3784453083fe.JPG)

[2017-02-24 13:49] Bibiko commented on #372
@LauraWae Did you really `generate & download` the index file from soundcomparisons.com/admin ? The online database lists Leviamp:
48741157209	Oce_Van_Mal_Nth_WSth_VenenTaute_Leviamp_Dl

[2017-02-24 18:27] AvivaShimelman commented on #372
Good morning!

I'm afraid I can be of no help in resolving the issues with the other
recordings. The issue with Leviamp is unique to Leviamp, though. I
could swear we pulled that recording very early. I doubt I ever
uploaded my transcription for it.

A.

On 2/24/17, Hans-Jörg Bibiko <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-24 18:31] AvivaShimelman commented on #372
Halo!

Are we talking about the transcriptions that I had done for the
"greying out"? Please double-check that it's the SECOND sheet (the one
where all the [ɲ]s were not zapped).

Thanks.

A.

On 2/24/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-02-24 20:07] AvivaShimelman opened #446 "Malakula "culture list""
We now have a second list of items for the Malakula recordings. The list is by design unique to Malakula, with items like 'edible flesh of a sprouted coconut' 'tickle the belly of pig in a fashion that makes it lie down and sleep', 'hole in a woven bamboo wall through which the sun shines inside,' 'spit-out fiber of sugarcane', and 'take the face of a man whom you have killed' (all elicit simple t

[2017-02-25 07:29] AvivaShimelman commented on #446
I forgot to mention -
I have photos and short (5-20-second) videos for many items. Video shot in gorgeous, memory-gobbling 4K.
A.

[2017-02-25 09:40] AvivaShimelman commented on #446
Just a couple of examples of pictures of some items less familiar to Anglo-Euro types. I took some; the kids took some.
Notes:
The children are petting a baby white flying fox (which they adopted after shooting its mother dead with a slingshot)
Anyone in Malakula would understand the hanging coconut as a bill: "Do not trespass - forbidden to take coconuts -
![ein - carry between two men on a pole

[2017-03-01 09:55] PaulHeggarty commented on #446
Having spoken to Russell about this yesterday, he is happy for me to make some decisions on the practicalities of implementing this into SoundComparisons.
* I can confirm that the culture list will **not** be merged into the same site as the BV list.  It will be a separate section of the site, initially I presume just a separate entry in the drop-down studies list (the best way to do this longer-t

[2017-03-01 09:56] PaulHeggarty commented on #446
**Timetable** for the Cultural list project.
Yes, preparation work, as far as possible, should be done while @AvivaShimelman and @LauraWae are still working on the project.
However, adding a new list is not trivial at all in how much time it will demand from @PaulHeggarty (a week or so) and @Bibiko (more).  Neither of us will get any such free time for many weeks, if not months.  So this system wi

[2017-03-01 18:57] #439 closed

[2017-03-01 22:17] AvivaShimelman commented on #446
Sounds good to me.
I'll make a "T/F" list for the items that I have photos and videos
for. Short answer: I have photos for something like 120 items. If you
want better coverage and uniformity is not an issue, I can do some
google image searches.

A.

On 3/1/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-01 22:28] AvivaShimelman commented on #446
All fine with me.

My part of the BV work is basically done. Transcriptions and
pre-edited recordings now just await TLC from LW.

I have three more lists that I want to add to fill out the Larevat
representation.

I want to do a full listen-through on the whole site, too, but that
won't take more than 3 days or so on my part.

I think the work on transcribing and pre-editing the CL files for me
i

[2017-03-02 00:12] #308 closed

[2017-03-02 00:29] #420 closed

[2017-03-02 00:56] Linguista commented on #420
Great news, Bibiko! Thanks for your work!

[2017-03-02 09:01] PaulHeggarty commented on #446
What is TLC, please?  And do you mean the transcriptions are done, and just need to be uploaded?  Or that you will start on the transcriptions once you hear from Laura?

The full listen-through sounds like a very good idea.  In an ideal world, you would do this in 'editor mode' https://github.com/lingdb/Sound-Comparisons/issues/425, but that won’t be working in time, I fear.

Yes, you’re right:  t

[2017-03-02 09:12] LauraWae commented on #442
Hi Scott,
It actually does replace the other. Thanks for the hints for how to create the new list.

[2017-03-02 16:06] AvivaShimelman commented on #446
"TLC" = "tender loving care" (I never would have thought that one was
current only on this side of the pond!)
Transcriptions are done and uploaded. Laura is already chipping away
at them, I believe.
So, I'll understand "once other things are done" as once I've finished
the listen-through, too.

A.

On 3/2/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-03 09:04] LauraWae commented on #443
** wl_1630112_Neverver_Limap_selected/Oce_Van_Mal_East_NCtr_Neverver_Limap_Dl**
- tagged and extracted.

- [ ] upload

[2017-03-03 12:54] LauraWae commented on #443
**wl_1630114_Nasarian_Ngava_selected/ Oce_Van_Mal_West_Ctr_Nasarian_Ngava_Dl**
- tagged and extracted.

- [ ] upload.

[2017-03-03 13:24] LauraWae commented on #361
Hi @AvivaShimelman
I am with **wl_1630109_Laravat_Fwishile_selected** right now and it looks like this file has not been preselected at all: it has a total length of 36 minutes in comparison to the other which have only 10. Do you want me to do it with the help of your transcriptions once they are uploaded or do you prefer to go back to it yourself? Thanks as always for your answer.

[2017-03-03 13:42] LauraWae commented on #443
**wl_1630115_Fifti_Malmbor_selected/Oce_Van_Mal_East_SCtr_Fifti_Malmbor_Dl**
- tagged and extracted.

- [ ] upload.

[2017-03-03 13:43] LauraWae commented on #372
Hi @AvivaShimelman
This is about glosses again. In a few recordings I have listened to until now, you used "light" instead of "burn" as a prompt. Do we need to change the gloss in the system, too, or is this just a better Bislama word for the meaning you are looking for? Thanks for answering!

[2017-03-03 16:17] AvivaShimelman commented on #443
Feeling better, I hope.
I'm running through the whole site now. I'll wait until I have all my
comments together and not feed them in in trickles. One thing, though,
it looks like Maraxus isn't playing.

A.

On 3/3/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-03 16:38] AvivaShimelman commented on #361
Yes, I realized that when I went to check the transcriptions. There is
a newer, cut version uploaded to the same folder.
The same thing happened with the Uripiv Tautu recording. You'll find a
newer version of that one, too.

A.

On 3/3/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-03 16:41] AvivaShimelman commented on #372
Just better Bislama. Good of you to notice.
I always had to double-check "bon" for transitive/instransitive.

A.

On 3/3/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-06 05:22] #442 closed

[2017-03-06 09:02] LauraWae commented on #443
**wl_1630116_Neve'ei_Coast_selected/Oce_Van_Mal_West_NCtr_Neveei_Coast_Dl**
- tagged and extracted.

- [ ] upload.

[2017-03-06 09:29] LauraWae commented on #443
**wl_1630118_Siviti_Tanmililiv_2_selected/Oce_Van_Mal_Int_Nth_Njav_Tanmililib2_Dl**
- tagged and extracted.

- [ ] uploaded.

[2017-03-07 09:17] LauraWae commented on #443
wl_1630119_Espiegel's Bay_Unspecified_selected

[2017-03-07 17:00] LauraWae commented on #367
Note to myself: Uploaded transcriptions of Avava-Tisvel (R).

[2017-03-08 09:21] PaulHeggarty commented on #443
Yesterday I created and uploaded new Excel Transcription sheets for the 20 or so new Malakula languages.
I have now also just added the new/corrected 00-99 codes that were previously missing, so the five or so of the last batch of new languages that were not yet in the database are now in, and online.
We have a bit of a naming problem with new languages called xxx 2., which may throw up some diffi

[2017-03-08 09:47] PaulHeggarty opened #447 "Create Automated 'ReName Language' Function in Admin Section"
Unfortunately we fairly often need to rename a language 'FileName'/URL string, e.g.. Oce_Van_Mal_Nth_WSth_VenenTaute_Hamax_Dl
This often has to be done for reasons of consistency, and especially when another close variety gets added.

At the moment, it is easy for me to do this in my Access database, and upload the new names to the data tables.  But it is **not** easy to change all the sound file

[2017-03-08 14:36] LauraWae commented on #443
**wl_1630117_Najit_Tanmial_selected/Oce_Van_Mal_Nth_WNth_Najit_Matanvat_Dl**
- tagged and extracted.

- [ ] uploaded.

[2017-03-08 15:41] AvivaShimelman commented on #443
OK

On 3/8/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-08 15:52] LauraWae commented on #443
wl_1630120_Malua Bay_Coast_selected/Oce_Van_Mal_Nth_WNth_MaluaBay_Coast_Dl
- tagged and extracted.

- [ ] uploaded.

[2017-03-09 06:18] AvivaShimelman commented on #443
I'm guessing that I'm not calling attention to something that isn't already recognized:
It looks like some languages (mostly in the south) have lost transcriptions and some others (scattered about) have lost sound. There is at least one that's disappeared: Naha'ai Toman Island.

A.

[2017-03-09 13:58] LauraWae commented on #443
**wl_1630139_Vao_Canada_selected/Oce_Van_Mal_Nth_ENth_Vao_Canada_Dl**
- tagged and extracted.

- [ ] uploaded.

[2017-03-09 14:56] LauraWae commented on #443
**wl_1630124_Uliveo_Peskaros_selected/Oce_Van_Mal_East_Sth_Uliveo_Peskaros2_Dl**
- tagged and extracted.

- [ ] upload.

[2017-03-10 10:48] LauraWae commented on #443
**wl_1630130_Nasvang_Pimilis_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

[2017-03-10 10:51] PaulHeggarty opened #448 "Add language author/editor names to Brazil languages"
Laura, you and I need to sit down briefly to do this, to get people recognition on the site.  We'll also need to add photos of them, so could you email them to get some?

[2017-03-10 11:07] LauraWae commented on #443
**wl_1630130_Nasvang_Pimilis_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

[2017-03-10 11:42] LauraWae commented on #448
I have just sent them the e-mail. To sit down together to do that, on monday I am happy to meet between 3 and 4.30 pm, after 6. Otherwise on tuesday.

[2017-03-10 11:49] LauraWae commented on #402
Hi!
We cannot see AAviva's photo on the contributors' page, but besides her name, the photo of Anton Stepikhov appears. I would be very happy to see the person there with whom I have been working now for more than a year, and I suppose, she would so, too.
So, thanks!

[2017-03-10 15:18] Bibiko commented on #447
@LauraWae @PaulHeggarty For this purpose I've already written a script. Since this script is doing stuff direct on the server, its's safer that I run this script on demand manually in order to avoid having problems with permissions and in addition to control the script if it fails for some reasons. Thus write me a mail with `OLD_NAME` `NEW_NAME`.

[2017-03-10 15:18] #447 closed

[2017-03-10 17:27] LauraWae commented on #443
**wl_1630133_Nombotkote_Neoleien_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

[2017-03-10 17:49] AvivaShimelman commented on #402
Will find.

A.

On 3/10/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-10 17:59] LauraWae commented on #443
**wl_1630133_Nombotkote_Neoleien_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-10 18:19] LauraWae commented on #361
Hi @AvivaShimelman

I am with wl_1630140_Avok_Hokai_selected right now. I have found a few words that are transcribed, but are not in the recording: "they" + "they_dual" (ito and eru) + number 4 to 9.

I would delete the transcriptions then, but I would appreciate your consense before because you are the expert. What do you say?

[2017-03-10 18:21] LauraWae commented on #443
**wl_1630140_Avok_Hokai_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-10 18:53] AvivaShimelman commented on #361
Go with policy:
No blanks:
Sound without transcription gets deleted
Transcription without sound gets deleted
In either case, it can be assumed that what has happened is that later
research revealed that the "missing" (usually "zapped") one was wrong.

In other news:
I am just about done **re**filling in the file names. In all but three
cases, they are just the names of the newest files, all of whi

[2017-03-13 05:20] AvivaShimelman commented on #440
I've uploaded a spreadsheet, "2017 03 13  For Pasting in to the CURRENT  Malakula Tree Structure for Pasting.xls" to owncloud. It is attached here as well as a .xlsx. It is built on the "00 CURRENT ..." sheet that Paul uploaded two days ago. As I didn't want to risk changing anything with changes in software, formats, etc., I included only the new languages (Two Larevats and one Ngava) along with

[2017-03-13 14:47] LauraWae commented on #361
Hi again

I am with 1630128: Nisvai, Blacksands right now. To me, there appears a possible source for error towards the end of the recording between the words for "you_pl" and "you_dual".

Could please check this? ->

The prompt for "yutufala" (for which the Nisvai transcriptions says: "amdri") is cut. This Nisvai word is then followed by the prompt "yufala"  and the Nisvai "amru".

Is this all co

[2017-03-13 14:49] LauraWae commented on #443
**wl_1630128_Nisvai_Blacksands_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-13 14:50] LauraWae commented on #443
Thanks for commenting about your progress on the Reference Sheet. I will have a look at it later.

[2017-03-13 15:14] LauraWae commented on #443
**wl_1630129_Axamb_Small Island_selected**
- tagged.

- [ ] extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-13 15:15] LauraWae commented on #361
Thanks for commenting about your progress on the Reference Sheet. I will have a look at it later.

[2017-03-13 15:27] LauraWae commented on #361
About **wl_1630109_Laravat_Fwishile_selected**:
I cannot find the selected version for this one. I have looked in your folder ownCloud\163 selected recordings\Selected recordings, and in the usual ownCloud\SndComp\Malakula\1 - LW DA - To Clean Up; but I couldn't find it.

Could you please help me finding it by either telling me where it is/if I am looking for the wrong file name; or by uploading t

[2017-03-13 16:17] AvivaShimelman commented on #361
Wow. Good catch. Checking now.

On 3/13/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-13 16:56] AvivaShimelman commented on #361
Another good catch. I thought I had replaced the long file with the
selected one. I won't be able to re-replace it until I get home
tonight. Will pipe in when I do. (Up to 40 cm snow predicted for
tomorrow -- if electricity goes (not likely on the water with gusts of
70 km), internet does, too).

A.

On 3/13/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-13 22:20] AvivaShimelman commented on #361
I have [amⁿdʳi] as the transcription for 'yufala', and [amru] as the
transcription for 'yutufala' on my copy, at least. Please double-check
your copy and if it's showing up differently on your copy, please take
a screen shot of the whole sheet and send it.
So, the order in which the sound occurs on the recording should
correspond to the order on the transcription sheet. Again, if this is
not the c

[2017-03-14 07:16] AvivaShimelman commented on #361
New copy uploading to the "to clean up" folder now. Labeled
"wl_1630109_Larevat_Fwishile_selected (2)"

Happy Tuesday!

A.

On 3/13/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 08:02] AvivaShimelman commented on #361
Hi, Laura,

I think you have the transcriptions for Venen Taute Benenavet and
Benmara on the last summary transcription sheet from December. Do you
have the sound files? I still need to give you both transcription and
sound for the two Larevat files I added to pasting sheet this weekend.
Is there anything missing?

A.

On 3/10/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 10:18] LauraWae commented on #443
**wl_1630109_Laravat_Fwishile_selected (2)**
- tagged

- [ ] extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-14 10:22] LauraWae commented on #361
Hi,

I was about to tag **wl_1630137_Ninde_Windua_selected**, but then realized that it had not been cleaned up and pre-selected by you. Could you please upload the preselected version as you did with  **wl_1630109_Laravat_Fwishile_selected**? Thanks.

[2017-03-14 11:13] LauraWae commented on #361
Hi:

I do have the sound for Venen Taute: Benenavet and for Venen Taute: Benwara.

[2017-03-14 13:37] PaulHeggarty commented on #440
I have done new versions of both main sheets in the OwnCloud x Languages Reference folder.  I’ve also updated the website to the list currently showing in the Reference file.
This includes creating the new languages Aviva requested.
Can you look at the sheets, and the website, to see how much this fixes, and what remains not working.

[2017-03-14 14:04] AvivaShimelman commented on #440
On it.

On 3/14/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 14:04] AvivaShimelman commented on #361
Fabu.

On 3/14/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 14:05] AvivaShimelman commented on #361
Checking.

On 3/14/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 14:19] LauraWae commented on #440
Hi both,

Please note that this sheet does not include the Recordings' Original File Names of the latest batch of languages. Ideally, they would be also included here.

As I it is a good time to progress with the uploading now, could you please tell me @AvivaShimelman, in which of the four excel sheets on` ownCloud\SndComp\Malakula\z  Languages Reference`, I can find the Original Files names AND t

[2017-03-14 14:26] AvivaShimelman commented on #361
Halo!

The copy in my "selected" file is indeed pre-edited. Try that one.

A

On 3/14/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 14:31] AvivaShimelman commented on #440
The sheet I uploaded on Saturday does indeed have the file names.
Please consult 2017 0310 by Aviva .." in the old versions subfolder of
z language reference.

A.

On 3/14/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 14:51] LauraWae commented on #361
Hi,

I tried the one on your folder, too, but it looks like it is only
pre-selected at the beginnging of the recording (the passage where you
prompt "husband" and "wife" illustrates that well).

Do you want me to stick to the transcriptions or are you in for another
round of pre-editing? ;)

All the best,
Laura

2017-03-14 15:26 GMT+01:00 AvivaShimelman <notifications@github.com>:

[2017-03-14 14:54] LauraWae commented on #440
Where?

![image](https://cloud.githubusercontent.com/assets/10007762/23906520/7fef2222-08ce-11e7-8a1b-02d699089a63.png)

[2017-03-14 14:59] LauraWae commented on #361
And, yes, we do also have the two Venen Tautes transcriptions.

[2017-03-14 16:03] PaulHeggarty commented on #440
I can see filenames for the recently added languages in:
C:\Paul\« Cloud\OwnCloud\SndComp\Malakula\z  Languages Reference\OLD Versions\OLD  Nested Tree Structure\2017 03 08b  Malakula Tree Structure for Pasting.xlsm
…. so they can be copied and pasted in from there.

[2017-03-14 16:21] AvivaShimelman commented on #440
Column 15.

[2017-03-14 16:25] AvivaShimelman commented on #440
It looks like that is not in fact "by Aviva". Maybe it was edited when it was renamed?
In any case, the file names for the new languages can be found on the new for pasting sheet I uploaded two days ago, dated the 13th and included in my post above.

[2017-03-14 16:28] AvivaShimelman commented on #440
Here's another copy of it.
[2017 03 11  CURRENT  Malakula Tree Structure for Pasting (1) (by Aviva, in fact a reference sheet).xlsx](https://github.com/lingdb/Sound-Comparisons/files/842017/2017.03.11.CURRENT.Malakula.Tree.Structure.for.Pasting.1.by.Aviva.in.fact.a.reference.sheet.xlsx)

[2017-03-14 16:46] PaulHeggarty opened #449 "Multiple contributors not displaying properly"
In an example language like http://www.soundcomparisons.com/#/es/Mapudungun/language/Curarrehue there are two people who did the recording, identified in the languages table input as
`Contributor:  Recorded By 1` and `Contributor:  Recorded By 2`.  This should give two corresponding rows on that webpage, under the drop down people icon.  Instead, it only gives one row, with contributor 2 overwriti

[2017-03-14 16:50] AvivaShimelman commented on #440
To respond first just about the sheets. Some information has been lost
on both, but not the same information.
Both do contain what I believe to be a full census. No MIAs no double
personalities. Yuppee!
The reference sheet has lost file name and particpant name information
-- as well as L and L -- for the languages added on the "for pasting
for pasting" sheet.
The For Pasting sheet, in contrast, s

[2017-03-14 16:54] PaulHeggarty commented on #440
Could you both give me 20 minutes and I’ll try to fix it all once and for all.  Don’t bother doing anything else yourselves in the meantime!

[2017-03-14 17:21] AvivaShimelman commented on #440
SC 2017 03 14 check:

Systematic:
All languages added in the past month are showing up “soon”
All the languages that got revised are showing up without sound
All of the recordings (all from the south, all from the fall field
trip batch) that had gone missing from the sheets are appearing with
sound but no transcriptions (i.e., with play triangles).

Quasi systematic?
Neverver Limap is new, but Nev

[2017-03-14 17:22] PaulHeggarty commented on #440
I have just updated as much as I can, and there are very few gaps left now.  I’ve left them in orange in `00  CURRENT  Malakula Language Reference Data` on OwnCloud. Aviva, could you check and fill in the last gaps, and let me know when you’re done so I can upload them tonight.  Sorry if this is data you have entered before, but there really is very little now, and I hope this will be done once an

[2017-03-14 17:23] AvivaShimelman commented on #440
OK

On 3/14/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 17:43] AvivaShimelman commented on #440
On it.

On 3/14/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 18:15] AvivaShimelman commented on #361
Try the one that's uploading now to my "Selected" file:
"wl_1630137_Ninde_Windua (2)"

On 3/14/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 18:37] AvivaShimelman commented on #440
Joy!
I just uploaded to OC my corrected version of this evening's reference
sheet. All blanks are genuine blanks (i.e., languages without ISOs
genuinely do not have assigned ISOs). I have made about a half-dozen
unsolicited changes that I have signaled in burnt orange.
Go, Team Malakula!

On 3/14/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-14 22:23] PaulHeggarty commented on #440
I’ve fillen in all of those in the database, and uploaded the new version to the website.  Please let me know if you notice anything that still hasn't worked.

[2017-03-14 22:48] Bibiko commented on #449
There were a few general bugs in this issue. Should now work. [The former assumption was that **one** contributor was responsible for only **one** task] In addition I also fixed an issue for ContributorCitationAuthor1/2.

[2017-03-14 22:48] #449 closed

[2017-03-15 04:15] AvivaShimelman commented on #440
Paul?
It's loading exactly as before in both Chrome and safari.

Another issue:
It loads zoomed out to the whole world.

A.

On 3/14/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-15 07:13] PaulHeggarty commented on #440
For me it's working:  here's one of the changes to one of the Siviti names, showing correctly:
![screenshot - 2017-03-15 08_11_57](https://cloud.githubusercontent.com/assets/8819910/23937297/13822146-0957-11e7-8de2-b3ffd44479ba.png)
The world zoom problem is one there's an issue for.  The difficulty is that it's sporadic.  Mine has just loaded fine!
Can you do a forced refresh, Ctrl-R or similar,

[2017-03-15 10:34] Bibiko opened #450 "In Romance and Slavic: disambiguation of lemma "your""
If you look for "your" in the right panel the list will come up with two different versions for "your" - mass. sg. and fem. pl.
The issue now is that the underlying URL-link for both words is the same:

 http://www.soundcomparisons.com/#/en/Romance/word/your

i.e. one cannot reach the second "your (fem. pl.)". The same issue comes up for Slavic "your".

[2017-03-15 14:11] AvivaShimelman commented on #440
I've not only refreshed, I've cleared cache, opened different browsers
and used two different computers. I think we're not talking about the
same issue. The languages are indeed listed. I thought you were
talking about the fact that there are some that aren't playing or that
transcriptions aren't showing up.

A.

On 3/15/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-15 14:18] LauraWae commented on #372
Hi,
Just a curious note: Both Axamb: Small Island and Malua Bay: Coast have "wl_1630129" as their "Aviva-index" ;).

[2017-03-15 14:30] LauraWae commented on #443
**wl_1630137_Ninde_Windua/Oce_Van_Mal_West_SCtr_Ninde_SouthwestBay_Dl**
- tagged and renamed.

- [ ] extracted,

- [ ] uploaded to website.

- [ ] works on website.

[2017-03-15 14:33] LauraWae commented on #443
**Oce_Van_Mal_West_SCtr_Nahavaq_Loorndavo_Dl**
- tagged and renamed.

[2017-03-15 14:39] LauraWae commented on #372
Hi @AvivaShimelman
I think I have not already gotten my hands on any of those three languages:

Larevat: Larevat
Larevat: Mosox
Ngata: Taremb.

Ngata: Taremb is on your Owncloud folder, in the directory "Dont worry about for now" and is only three minutes long. Of course I am happy to work with this file, if you agree that it is adequate.

Can you upload the others or tell me where to find them, p

[2017-03-15 14:42] AvivaShimelman commented on #372
I'm not sure what you mean by "Aviva-Index" Do you mean file name?
That number is associated with the Axamb file. The Malua Bay file is:
wl_1630120_MaluaBay_Coast. That's what comes up under file name, too,
in the last Reference Sheet. What sheet are you using?

A.

On 3/15/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-15 14:50] AvivaShimelman commented on #372
Right. I took the Ngata file out of "Don't worry about" last night.
It's sitting with the others now  in "selected." Indeed, it is only
four minutes long. It's a fragment from a recently-extinct language.
That's all the man could remember from his childhood. (And, frankly,
I'm not confident that he wasn't mixing it with Nasarian, but he was
very cautious and wouldn't commit to any word he wasn't s

[2017-03-15 15:26] PaulHeggarty commented on #440
!!  If only it were so simple!  All I did was upload the correct data to the website, so that the right languages appear with the right names, and speakers if there are photos.  That cannot magically rename sound files, nor copy, paste and load up transcriptions and sound files.  All that needs Laura to have the correct cross-referencing data from the Languages Reference sheet, plus lots more work

[2017-03-15 15:45] LauraWae commented on #443
**Oce_Van_Mal_East_Ctr_Ngata_Taremb_Dl**
- tagged and extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-15 15:51] PaulHeggarty commented on #443
Just to say that this is looking great, the promise that lots more languages will soon be ready to go on the website.  I hope you now at last have (almost?) all of the info you need to identify which language is which!

[2017-03-15 16:58] AvivaShimelman commented on #443
I think we do. That last set of sheets was beautiful.

On 3/15/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-15 17:17] AvivaShimelman commented on #440
"TLC"

On 3/15/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-16 14:39] LauraWae commented on #443
**wl_1630110_Laravat_Laravat_selected/Oce_Van_Mal_West_Nth_Larevat_Larevat_Dl**
- tagged and extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-16 15:06] LauraWae commented on #443
**wl_1630111_Larevat_Mosox_selected/Oce_Van_Mal_West_Nth_Larevat_Mosox_Dl**
- tagged and extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-16 15:39] LauraWae commented on #443
I have tagged and extracted now all the files from Aviva's folder `ownCloud\163 selected recordings\Selected recordings`.

I will start uploading them now.

[2017-03-16 15:40] PaulHeggarty commented on #443
Wow, so can we watch the sound files for the new languages going up live?  ;)

[2017-03-16 16:28] LauraWae commented on #372
Hi  @AvivaShimelman
Concering the sound file for **Wala: Preng**. On the Reference Sheet, _wl_160013_Wala_02_SmallIsland_ is listed as the Original File Name for this language. We had already worked with that recording, then under the name "Wala: Small Island". Please help me understand the situation correctly by agreeing or correcting the following assumption:

"wl_160013_Wala_02_SmallIsland is s

[2017-03-16 16:46] LauraWae commented on #367
Hi @AvivaShimelman
Please help resolve questions about

Tape: Tautu

and

Tape: Tautu 2.

1) Correspondence: To which of the two languages does the sound file _wl_0035-R_Tape_Tautu_revised_selected_ correspond?

2) I only have transcriptions for _160044-R_Taute_Alpalak_revised_. I am highly surprised by this discrepancy and need your ideas to add those transcriptions to the right place. Also, I ne

[2017-03-16 16:54] LauraWae commented on #367
This is a request.

Please upload transcriptions of:

Burmbar: Tengan

and

Natanggan: Veremate.

Thanks.

[2017-03-16 16:59] LauraWae commented on #443
Have a try ;) : http://soundcomparisons.com/#/en/Malakula/language/Ngata%3A%20Taremb http://soundcomparisons.com/#/en/Malakula/language/Neverver%3A%20Limap
http://soundcomparisons.com/#/en/Malakula/language/Fifti%3A%20Malmbor

[2017-03-16 17:03] PaulHeggarty commented on #443
:)

[2017-03-16 19:42] AvivaShimelman commented on #367
2. You will find the transcriptions for all of those in "2017 03 02
Malakula BV recordings ..." uploaded two weeks ago to my
transcriptions file on Malakula on OC.
You will also find them in "2017 02 16 Malakula recording replacements
Taute, Wla, Navwien, Pangkumu, Port Sandwich" uploaded one month ago
to the 163 selected transcriptions folder.

1. wl_0035-R ... contains the revisions for wl_0035,

[2017-03-16 19:52] AvivaShimelman commented on #372
I don't believe so. Preng is wl_160017_Wala_04. The speaker is a man,
Rodolphe Lelektei.
wl_160013 is plain ol' Small Island".  The speaker is a woman, Julie
Tournsrew. ON the file that you are using, is the speaker a man or a
woman?

A.

On 3/16/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-16 20:04] AvivaShimelman commented on #367
Coming up.

On 3/16/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-16 20:10] AvivaShimelman commented on #443
An abundance of riches!
I'd like to manipulate the L and Ls a bit so that all the languages
are clickable on the map. Good?

On 3/16/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-17 04:55] AvivaShimelman commented on #367
Day got away from me. First thing tomorrow.

A.

On 3/16/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-17 08:05] PaulHeggarty commented on #443
Yes, it needs to be done on the Languages Reference sheet.  Can’t guarantee it will always work, though, given the way the website programme decides to place its bubbles.  (That needs improving in any case, but when Hans-Jörg will get the time, I know not.)

[2017-03-17 11:14] LauraWae opened #451 "To Do after Uploading New Sound and Transcriptions (Malakula 2017)"
This is a temporary list of things to do after the uploading of the 2017 languages & transcriptions has been completed. For now, this is supposed to serve only Laura as a reminder. I will categorize the tasks and ask people what I need from them only once the uploading has been completed.

- [ ] We need to create a record of "Wala: Small Island" to the database. The original file name for this lan

[2017-03-17 11:25] LauraWae commented on #372
I agree with that information, Aviva. I got some information that did not correspond to this one, but what you say makes perfect sense to me. I will not check the speaker because I do not see it necessary to resolve the issue.

I have created an issue for this where I document the case and will continue to document other things that need to be fixed. #451

[2017-03-17 11:45] LauraWae commented on #372
Hi,

The vast majority of the files are uploading now (2,5 hours left).

The next things I would appreciate to be given by you are:

- Selected sound file of: **Burmbar: Tengan**
- Transcritpipons of: **Natanggan: Veremate**, **Burmbar: Tengan**.

We both know that we both know this and it feels frustrating to circle around this information and come back to it again and again. So I need to be able

[2017-03-17 15:08] AvivaShimelman commented on #372
This is very exciting!
I was hoping to have my old computer back by now so as not to have to
re-do those two. (Aside: I am done with Apple! Going back to HP). I
should be able to get Burmbar up within 2 hours. We may have to just
turn Natanggan off until I can get some documentation done for
Russell.

On 3/17/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-17 17:41] AvivaShimelman commented on #372
Uploaded to "malakula" in regular folders.

A.

On 3/17/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-19 02:23] AvivaShimelman commented on #372
Hola,

"No rest for the weary," is a favorite saying of a dear friend of
mine. So ... When do you think you're going to be ready to start in on
the CL recordings?

I can start uploading them on Monday or I can wait a couple of days
and work on some other stuff for Russell. Just let me know what's best
for you.

I think it makes sense for you to have a go at at least one early so
we can work out an

[2017-03-20 15:08] LauraWae commented on #443
**wl_1630127_Burmbar_Tengan_selected/Oce_Van_Mal_East_Sth_Burmbar_Tengan_Dl**
- tagged & extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-20 15:30] LauraWae commented on #443
**wl_1630127-R_Burmbar_Fartavo_revised_selected**
- tagged & extracted.

- [ ] uploaded.

- [ ] works on website.

[2017-03-20 18:20] PaulHeggarty commented on #402
Some of these, including the three candidates for AS initials, have now been fixed.

[2017-03-20 19:07] AvivaShimelman commented on #402
"AS" initials?
In any case, I'll upload all the photos I have left today.

A.

On 3/20/17, Paul Heggarty <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-21 11:21] LauraWae commented on #443
I have uploaded the transcriptions which are inserted in those sheets:

- **2016 09 02  Transcriptions Malakula 215 - Rgn 12 - New February 2017-A**

- **2017 03 08  Transcriptions Malakula 215 - Rgn 12 - New February 2017-B**

- **2016 07 04  Transcriptions Malakula 215 - Rgn 1 - North W-Nth**

[2017-03-21 12:51] LauraWae commented on #367
Hi @Bibiko
I have uploaded SQLs today for all the languages that are mentioned in #443.

They all have in common that none of them is working (besides two which I have marked so in their individual comment).

I will be happy to hear from you if you have any ideas why they could not work and how to resolve it. Your help is appreciated because it will bring us - Aviva, Paul and me - a step nearer to

[2017-03-21 14:01] LauraWae commented on #372
## Problem Report on Uploaded Sound of 163 Languages

Dear @PaulHeggarty and @AvivaShimelman

As you may have seen in the Transcriptions Topic, I have uploaded today the transcriptions for the new languages.

When checking them on the website, I found serious problems with the sound of a total of four languages. Two of them I probably will be able to resolve by myself; two others should have to do

[2017-03-21 14:13] LauraWae commented on #367
Next curiosity: When I try to upload transcriptions now, I get error "403": "forbidden".

[2017-03-21 14:17] Bibiko commented on #367
@LauraWae please wait - I need to reconfigure my computer - then I'll dig into that

[2017-03-21 14:49] LauraWae commented on #444
**Uploaded**
Br_Tup_Tupari_Makurap_Samba_Dl

[2017-03-21 15:16] Bibiko commented on #367
@LauraWae Could please send me the SQL files which failed to upload to my mail address?

[2017-03-21 16:30] Bibiko commented on #367
@LauraWae @PaulHeggarty
maybe this can be of some help:

I compared the content of the DB and the names of uploaded sound directory.

`-` := sound directory exists but no entry in the DB
`+` := lg exists in DB but no sound directory

-Oce_Van_Mal_East_NCtr_Maraxus_Maraxus_Dl
-Oce_Van_Mal_East_NCtr_Neverver_LingarakhMindu_Dl
-Oce_Van_Mal_East_NCtr_Neverver_LingarakhSakan_Dl
+Oce_Van_Mal_East_NCtr_N

[2017-03-21 17:28] PaulHeggarty commented on #367
This is very useful, thanks.  I will go through and fix things that I can fix in the database, and thus hopefully get working online.  And then I’ll post here info on things that I need more info on or that will need fixing by file renaming.  It may take me a day or two.

[2017-03-21 18:46] AvivaShimelman commented on #367
Maybe I can be of some help here:

There should not be two different languages
Neverver LingarakhMindu and Neverver Mindu (same Lingarakh is a place
Mindu and Sakan are dialects)) (i.e., one or the other)
Similarly, there shouldn't be
NeververLingarakhSakan and Neverver Sakan (same)

There cannot be both Tape Maraxus and Maraxus Maraxus (same); there is
a Tape Tautu, however.

There was never and

[2017-03-22 01:43] Bibiko commented on #367
@LauraWae @PaulHeggarty I've started to add a General Study Check to SndComp - first implementations can you find under Admin > Diagnostics. It lists for now the same info mentioned above. This new table can also be used to find either the name for a LanguageIx or a FilePath or visa versa. More info will follow.

[2017-03-22 06:38] AvivaShimelman commented on #372
Looking into it now.

On 3/21/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-22 07:45] AvivaShimelman commented on #372
The file that I uploaded to OC, "wl_1630130_Nasvang_Pimmilis" is,
indeed, Nasvang Pimmilis.  The reference sheet not only lists the
wrong file name, but associates the recording with a completely
different speaker and a completely different code, those of Navwien,
one row above.
The file name the reference sheet associates with Nasvang Pimmilis is
that of Nasvang Big Island, which, although it app

[2017-03-22 15:38] Bibiko commented on #367
@LauraWae @PaulHeggarty I've improved the General Study Check now and the site now revealed that   there's also a problem with LanguageIx indices within the Transcriptions table. There are quite a few indices which don't exist in the Languages tables - thus I think this could be one part of the enigma that uploaded transcriptions don't come up on the map - they were simply uploaded as SQL file hav

[2017-03-22 15:52] LauraWae commented on #372
Hi Aviva,
Thank you.

Concerning the CL list: Sorry for answering that late. You can upload it anyday you like. My preference was to finish the uploading and now, while the database gets adjusted by Paul, from my point of view, we can start working on this list. Thank you for the patinece you showed during the last few days while I was so focused on the sound files and the transcriptions.

[2017-03-22 15:59] AvivaShimelman commented on #372
No worries.

I'll fix something pretty for tomorrow.

:)

A.

On 3/22/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-23 15:39] Bibiko commented on #436
I've started with https://github.com/lingdb/Sound-Comparisons/commit/68d28a36a0a9dc79ec20955cd2d9255109c11062

[2017-03-23 16:53] PaulHeggarty opened #452 "Offline Version: Phase 2"
Jakob created a system to create exports of all the data needed to run Sound Comparisons offline.  We could do with a new export, especially because the old one didn’t have the Brazil project included.  I’m at a meeting in Sweden with the main organiser of the Brazil project, so it would be nice to put an offline version on her laptop, if possible.

[2017-03-24 07:55] AvivaShimelman commented on #446
@LauraWae
I've created files on my OC for the CL selected recordings and transcriptions and shared them with you. I leave it to you to create (or not) folders on "Malakula" as well.  Please have a look at them and let me know what questions you have. It might be easier to Skype, depending. The prompts are written in English and Bislama. In general, I went through the list with consultants before h

[2017-03-24 13:29] PaulHeggarty opened #453 "Speaker photos not showing for Brazil project"
On the Malakula section, we have speaker photos for about 40 languages.
These are stored at /srv/soundcomparisons/site/img/contributors/
When you click on a language name in the language column on the left, I presume that the site just looks there to see if there exists a photo with the same filename as that language (followed by _01.jpg), and if one does exist, it shows a link thumbnail next to t

[2017-03-24 14:24] PaulHeggarty opened #454 "Switch lat-long back on on map"
On the SoundComparisons map, Jakob originally showed (down in the bottom left corner) the latitude and longitude of whatever point the mouse/cursor was at on the map, changig as the user moved the mouse.  Please switch this back on, if you can find the code again!

[2017-03-25 20:11] PaulHeggarty opened #455 "Issues for ASLIB project"
Issues for ASLIB project, identified by Ana Suelly and @PaulHeggarty at Lund Conference, March 2017.
- [ ] Web address needed for ASLIB.
- [ ] Dedicated own portal for ASLIB.
- [ ] Add speaker photos.
- [ ] Add speaker names.
- [ ] Correct language names.
- [ ] Add orthographic transcriptions.
- [ ] Add phonetic transcriptions.

[2017-03-27 13:13] Bibiko commented on #454
@PaulHeggarty I put the coordinates above the map right to keep the map clean. Ok? Is the format ok?

[2017-03-27 13:36] Bibiko commented on #453
@LauraWae @PaulHeggarty could you please check if the correct photo comes up now? I believe the adding of such a photo by simply uploading is not enough one also have to re-new the Javascript machinery by so-called `grunt`. Maybe I find a way to avoid doing this.

[2017-03-27 13:42] Bibiko commented on #453
@LauraWae @PaulHeggarty  I looked into the code and I think after uploading a new photo on the server one has to clear the cache in the admin section in order to make it visible.

[2017-03-27 14:01] PaulHeggarty commented on #453
It is working, yes.  Thanks!  See and click the thumbnail that appears when you click on the language name shown here (only works in Map View for now).
![screenshot - 2017-03-27 16_00_09](https://cloud.githubusercontent.com/assets/8819910/24360069/8de23b34-1306-11e7-8c77-e79815edf8fd.png)

[2017-03-27 14:04] PaulHeggarty commented on #455
The problem in showing speaker photos is now resolved.  So we need the Brazil team to send us all the photos you want to show.  They can be cropped first, as you wish.  They should be jpgs, and the image filename should be the filename form of the language they represent, followed by _01.jpg.  If you want to send multiple photos for the same speaker, the next should be named _02.jpg, and so on.
So

[2017-03-27 14:12] Bibiko commented on #453
this means we should add the photo(s) and name(s) to the Contributors pull-down menu as `Speaker` somehow as well?

[2017-03-27 16:57] PaulHeggarty commented on #454
Very good choice, yes it's great like that.  One last request, though.  Rather than degrees, minues, seconds, could we have decimal degrees, please, since that's the system we use in the database.  Also, it can be limited to six or seven decimal places, I think, because that already gets us down to 7m or so.  (I think we need one more place for latitude than for longitude, or something.)

[2017-03-27 18:17] PaulHeggarty commented on #453
We should, yes, and it would be quite easy.  We'd just need the import system for the Languages csv files to recognise three more fields:
`Speaker First Names`   [Text]
`Speaker Surnames`   [Text]
`Identify Speaker on Website`   [Boolean]
Once this is set up, I'll add these fields to the Languages csv files that are imported.

The background to this is that by default, all linguistic databases lik

[2017-03-27 23:05] Bibiko commented on #454
six places should really be enough - also, I'll add a setting for it how to display (which format) in the near future

[2017-03-27 23:05] #454 closed

[2017-03-28 08:05] Bibiko commented on #452
@PaulHeggarty Which sound files of which studies should be involved? And, how to share the 3 4 GB data? One could think of a mechanism at www.soundcomparisons.com where one is able to select which studies one is interested in and press a download button to get the Offline version since @runjak had really cool ideas to create this Offline version.

[2017-03-28 09:17] Bibiko commented on #453
@PaulHeggarty In the DB we've already the fields `SpeakerSurnames` and `SpeakerFirstNames`. To add `Identify Speaker on Website` is simple **but** what will happen for languages which have more than one speaker, also in respect of pictures?

[2017-03-28 09:22] Bibiko commented on #453
@PaulHeggarty ... and in addition to picture, we've to check the size of these pics before we upload them to the server, example Malakula 37 pics have ~65MB - this is too much - I think 200kB for a pic is really enough even smaller is better. If you want I can correct this.

[2017-03-28 10:25] LauraWae commented on #452
Hi,

We used to share the offline versions via Dropbox.

I like the idea of pressing a download button to get the offline version. In the Brazilian export, all files that start with "Br_,..." should be included.

There is, thus, a coworker in Brasil, Denise Silva, who is currently travelling, but promised to send me one file at the beginning of April. It's the Terena file which is still missing on

[2017-03-28 10:34] LinguList opened #456 "CLDF export"
For the integration of the data with other projects in the MPI, we need a simple export to CLDF format of the main data. This includes, as far as I can tell, but @xrotwang will hopefully expand, in case I forget, a table (plain CSV, comma-separated, with `"` to indicate columns containing a comma), with the first line as header, specifying the columns as follows:

column name | comment
--- | ---
I

[2017-03-28 10:45] Bibiko commented on #452
ok - this means, this version contains **only** sound files for the Brazilian branch. The point here is that the main part in respect of size cover the sound files. Dropbox - ok - whose account?

[2017-03-28 11:34] PaulHeggarty commented on #453
In principle, languages only have one speaker.  We could move to a system that allows multiple speakers, but we'll leave that for later.  Just presume one for now.

[2017-03-28 12:56] LauraWae opened #457 "East Polynesia Data"
Let's start uploading languages from East Polynesia...

[2017-03-28 13:45] LauraWae commented on #443
Renamed  **Oce_Van_Mal_Nth_ESth_UWRA_WalaSmallIsland_Dl** to **Oce_Van_Mal_Nth_ESth_UWRA_WalaPreng_Dl**.

Re-extraced and uploaded.
Works on website :).

[2017-03-28 13:56] LauraWae commented on #443
Hi @AvivaShimelman

I hope your new computer is serving you well.

As far as I can see, nowhere in our Owncloud folders we have saved a copy of `wl_1630141_Uripiv_Tautu_2`. This is presumably the reason why it is not playing on the website.

Could you please upload a copy of that? That will be another tiny step. Thanks!

[2017-03-28 13:57] LauraWae commented on #372
Hi @AvivaShimelman

I hope your new computer is serving you well.

As far as I can see, nowhere in our Owncloud folders we have saved a copy of wl_1630141_Uripiv_Tautu_2. This is presumably the reason why it is not playing on the website.

Could you please upload a copy of that? That will be another tiny step. Thanks!

[2017-03-28 15:05] AvivaShimelman commented on #443
Coming up.

On 3/28/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-28 15:08] AvivaShimelman commented on #372
You do have the transcription for it, though, yes? That necessarily
means that I would have uploaded the sound file. Or is there no
transcription, either? It's my policy to always do these in pairs.
That said, I don't see the sound file on the site. Not a problem: will
pull it off my iCloud.

A.

On 3/28/17, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-28 22:52] PaulHeggarty commented on #456
After discussions today with @SimonGreenhill, @xrotwang and @LinguList, it seems to make sense longer-term to move all the data tables underlying Sound Comparisons onto github in any case, so we wouldn't need an export function in any case.

However, the full shift of all the data tables may take longer than we would like to wait to get started with the purpose we want this for immediately, which

[2017-03-28 22:54] PaulHeggarty commented on #456
Languages in Sound Comparisons are primarily identified by our own index numbers (long), and also a unique filename string.  The latter might be better as a field to export here, rather than the actual 'name' of the language (short name version in any case).

[2017-03-28 22:59] PaulHeggarty commented on #457
I’ve put the two reference files up here:
..\OwnCloud\SndComp\East Polynesia\4 - Language Reference
For now, @maryewal, you can leave the Tree Structure sheet as is, until you want to start adding new languages to it.  You can already add speaker names, and latitude/longitude details into the Languages Reference form.  (I have to add the anonymity field, but we can do that later.)

[2017-03-28 23:01] PaulHeggarty commented on #457
I realise now, however, that if we're creating a separate Sound Comparisons study for Polynesia, not in the same study as Malakula, then that means a big extra set of work for me to do, several days' worth probably.  So I doubt it will get done before I'm back in August.  It is still certainly worth doing the editing and markup work on the sound files now, however.

[2017-03-29 08:16] LinguList commented on #456
We need all available information: geocoordinates, glottocode, but also the name we see on the website, along with your internal identifier. Especially geocoordinates may be important to be fed back to glottolog in case your codes are missing.

[2017-03-29 08:31] PaulHeggarty commented on #456
Geocordinates are not always unique to distinguish varieties, by the way, when we record multiple speakers for the same location.  We also have tags for sociolinguistic level which can distinguish even where the GlottoCode and geocoordinates are the same.
This is not done for most of our studies, however, so it's not an immediate problem, but it does happen for the English accents, for example.

[2017-03-29 08:32] PaulHeggarty commented on #456
Another detail...  There are in fact two forms of names that appear on the website:  short form (used in contexts where screen space is at a premium) and long form.  We will send the short form.

[2017-03-29 08:38] LinguList commented on #456
This is not done for most of our studies, however, so it's not an immediate problem, but it does happen for the English accents, for example.

As a rule: give us as MUCH information as you have, all details, and leave those cases empty where you lack it. We can then decide to which granularity we scale it up, and especially the inter-speaker or sociological level variation is a precedence case we

[2017-03-29 08:57] PaulHeggarty commented on #456
Great.  Good to know the default rule of more rather than less info.

[2017-03-29 09:34] maryewal commented on #457
Ok, that sounds fine to me - thanks, Paul.

Mary Elizabeth Walworth, PhD
Postdoctoral Researcher in Linguistics
Department of Linguistic and Cultural Evolution
Max Planck Institute for the Science of Human History
http://www.shh.mpg.de/employees/51452/25522

Visiting Researcher and Instructor
Université de la Polynésie française
http://www.upf.pf/fr

On Wed, Mar 29, 2017 at 1:01 AM, Paul Heggarty

[2017-03-29 13:50] LauraWae commented on #372
Hi!
Thanks for responding so fast.

The answer to your question is yes, we do have the transcriptions. I looked up the Original File name in the progress tracker from last year and could not find no record of it there. wl_1630141_Uripiv_Tautu_2 seems to have flipped through our eyes and brains.

Thank you so much for taking the trouble to go back to your old files. I feel relieved to know that you

[2017-03-29 13:52] LauraWae commented on #372
Hi @PaulHeggarty
As we agreed to yesterday, I typed the list of what is currently out of work on the Sound Comparisons Site for Malakula.

![grafik](https://cloud.githubusercontent.com/assets/10007762/24457853/a4a910b2-1497-11e7-820f-658b486b1bcb.png)

All the best,
Laura

[2017-03-29 17:46] AvivaShimelman commented on #372
You might compare to my list from 15 days ago (copy-pasted here):

SC 2017 03 14 check:

Systematic:
All languages added in the past month are showing up “soon”
All the languages that got revised are showing up without sound
All of the recordings (all from the south, all from the fall field
trip batch) that had gone missing from the sheets are appearing with
sound but no transcriptions (i.e., with

[2017-03-30 14:39] LauraWae commented on #446
Hi @AvivaShimelman and @PaulHeggarty

I have created this Praat glossing-list for the basic vocabulary. I think it should work quite fine, and I am happy to hear feedback. Thanks!

uncle_mother_older
uncel_father_older
aunt_father_younger
aunt_mother_younger
cousin_boy_boy_younger
cousin_boy_boy_older
cousin_girl_boy_older
cousin_boy_girl_younger
grandson_son
granddaughter_daughter
nephew_brother

[2017-03-30 17:48] AvivaShimelman commented on #446
Halo!

Thanks for being on this. Whether or not it will work depends on whether it
is an internal document (i.e., just for us to have columns to have
constants to map audio files to transcriptions) or a public one (i.e.,
visitors to the site are going to see these.

A.

On Thu, Mar 30, 2017 at 10:39 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-31 10:22] LauraWae commented on #446
Hi,
Thanks for replying so soon. This is only internal, for tagging in Praat (remember the words we filled in between boundaries? They can't have special characters and should be as simple and as specific as possible at the same time).
All the best,
Laura

[2017-03-31 12:05] AvivaShimelman commented on #446
It'll be fine.

A

On Fri, Mar 31, 2017 at 6:22 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-03-31 12:11] PaulHeggarty commented on #372
@Bibiko
rename:  Oce_Van_Mal_West_SCtr_Nahavaq_CarolineBayLumo_Dl
to:  Oce_Van_Mal_West_SCtr_Nahavaq_CarolineBay_Dl

[2017-03-31 20:50] Bibiko commented on #372
Done.

[2017-04-02 19:28] PaulHeggarty commented on #440
@AvivaShimelman , could you confirm that the correct name is Uliveo: Lurtes with an L, not Uliveo: Hurtes with an H, as it once appeared in an excel sheet.  I presume a typo.

[2017-04-02 19:30] PaulHeggarty commented on #440
@AvivaShimelman , could you also confirm that the correct spelling is Natangan with one g, rather than Natanggan with two gs.  Thanks.

[2017-04-02 21:14] AvivaShimelman commented on #440
L.

On Sun, Apr 2, 2017 at 3:28 PM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-02 21:16] AvivaShimelman commented on #440
Could go either way. It's a pre-nasalized [g]. Your call. I lean, now to
going with 1.

On Sun, Apr 2, 2017 at 3:30 PM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-04 12:33] LauraWae opened #458 "Final Malakula Issues April 2017"
Hi, @AvivaShimelman

1. Questions and requests for action advice:

- Is the website name "Nasvang: Big Island" correct for "wl_1630130_Nasvang_Pimilis_selected"? If no, shall we rename the website name to "Nasvang: Pimmilis"?

And is there another language then for Nasvang: Big Island? If yes, what's the original file name for that one?

- Does the Original File Name "wl_0023_Nahavaq_01" correspon

[2017-04-04 14:03] AvivaShimelman commented on #458
Starting with Nasvang.

Name not correct. There used to be a recording – 48744574609 , wl_1620093_Nasvang_03_Farun – that was “Nasvang: Big Island”
On the latest reference sheet, however, we have that number and label assigned to wl_1630130_Nasvang_Pimmilis. On the site it is Pimmilis that is playing (with correct correspondence sound/transcription). You do have the original Nasvang: Big Island (1

[2017-04-04 14:34] AvivaShimelman commented on #458
wrt Nahavaq
Yes, wl_0023 is Nahavaq:Elu
I have shared the file with you from my OC. Here is the link, too. https://oc.gnz.mpg.de/owncloud/index.php/s/QfHCBe4TrDgYsRu
It doesn't look like it's pre-edited, though. I don't have a pre-edited version of it , either, on my icloud. I'll be seeing my father on the 11th and I can have him bring my old flash drives. Otherwise, I can either re-pre-edit it or

[2017-04-04 14:46] AvivaShimelman commented on #458
wrt Tape. There are four people, all members of a single family, that speak Tape. There is a brother and a sister (which may mean that they are really what we would call first cousins, given family structure/kin terms). In any case, the brother lives in Tautu, the sister in Mae. She generally refers to the language as Maraxus (also the name of a mountain in the region that the language was formerl

[2017-04-04 15:27] AvivaShimelman commented on #458
Lawa wl_0018 -
I have shared it with you from my OC
It doesn't look like the pre-edited version, though, so I'll keep looking for that. Maybe you could look for it,too? Given that we do have the transcriptions, we must, at one point, have also had the pre-edited file. Did it never run on the website?

Uripiv Tautu 2 -- I know I dropped the ball on pulling that one out. On it now.

[2017-04-04 23:57] AvivaShimelman commented on #458
Uripiv_TautuVillage recording uploaded to my 163 selected folder. One change in transcription: 'that' [otɔ-asɔ]

[2017-04-05 00:01] AvivaShimelman commented on #458
Also with regard to that TautuVillage recording:
there were about 20 items that were just unsalvageable (bird noise). You'll notice the difference between when I am talking and when the speaker is. It's not just about the microphone. I made the poor consultant wait and fit responses in between chirps and then I massaged that recording for two hours. The 20 that were irretrievable were genuinely to

[2017-04-05 01:29] AvivaShimelman commented on #458
@LauraWae
So, here are the three things that are left, as far as I can tell:
Nahavaq Elu. There is a Nahavaq Elu sound file on OC and a transcription on the compiled sheet from that year. Did Elu never run on the site? If it did, then there was necessarily a pre-edited file, too, at some point. Again, I'll ask my father to bring my old flash drives when I see him next Tuesday. I only have the long

[2017-04-05 16:11] LauraWae commented on #458
For LW:

Tag and extract and upload:

- [ ] Nasvang: Big Island

- [ ] Nahavaq: Elu

- [ ] Ninde Lawa

- [ ] Uripiv Tautu Village.

@PaulHeggarty Could you please turn off **Natanggan: Veretemate**? Thanks.

[2017-04-05 18:13] AvivaShimelman commented on #458
Laura,

Does that mean you found the edited files for Elu and Lawa?

A.

On Wed, Apr 5, 2017 at 12:11 PM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-04-05 21:11] PaulHeggarty commented on #458
I’ve turned off Natanggan: Veretemate?, as requested (but do you actually want it deleted permanently?)

Also, I’ve done a couple of hours of database housekeeping tonight, and found and fixed multiple problems.  Above all, the entire 'multiple' set of languages, the last set, has been missing from the site and the excel language reference sheet for a while.  There were also some bugs in the tree

[2017-04-06 15:34] AvivaShimelman commented on #458
Break-down of files not playing or without transcriptions (at least on version loading on my computer at 11:25 EST 6 4 2017):

“soon"s
1 Espiegel's Bay: unspecified (163)
2 Uliveo: Peskaros 2 (163)
3 Maraxus (Maraxus): (2015, file formerly appeared twice – also as Maraxus: Mae)
4 Tape: Tautu 2 (163, possibly changed to just revise Tautu 1?)
5 Nahavaq: Elu (2015, sound file missing)

Arrow only
6 V

[2017-04-06 15:42] PaulHeggarty commented on #458
What I mean by 'Multiple' is just the orange group here:
![screenshot - 2017-04-06 17_41_39](https://cloud.githubusercontent.com/assets/8819910/24762996/57c6ef9e-1af0-11e7-8d10-24170b1c54fd.png)

[2017-04-07 11:46] LauraWae commented on #458
Hi @AvivaShimelman
Thanks for offering to pre-select those. I have Ninde Lawa now by myself, following up the transcriptions. I hope this works well for you, too. The files are already uploaded, please feel free to check [here](http://soundcomparisons.com/#/en/Malakula/language/Ninde%3A%20Lawa). :)

[2017-04-07 18:38] AvivaShimelman commented on #458
Fabu. Thanks.
For the Ninde, I might make the following changes:
'neck' doesn't sound to me like it has the final [nɛ], so maybe it should
be   [ᵐbolowoinɛ ]
'liver' sounds like it's missing it, so maybe it should be [nu-ᵐbupunɛ-nɛ]
'dog' has two transcriptions, but only the first has sound [kaːpox,
no-ᵐboɣmen] , so I'd either the second sound should come in or the second
transcription should go o

[2017-04-10 09:29] AvivaShimelman commented on #446
@PaulHeggarty How do you want to deal with the metadata for the CL recordings? Do you want me to make a new "For pasting" sheet based on the one we currently use for the BV lists?

A.

[2017-04-10 09:32] AvivaShimelman commented on #446
@LauraWae Please give me a heads-up when you want to start in on the CLs. I'm kind of piling them up here until we figure out exactly how we want to organize ourselves.

A.

[2017-04-10 11:25] PaulHeggarty commented on #446
@AvivaShimelman Aren’t the languages for the culture list just a subset of those we already have for the basic vocabulary list?  We only need additions to the for pasting sheet if you want to add wholly new languages.

[2017-04-10 11:39] PaulHeggarty commented on #446
As for the timing on the CLs, bear in mind that I have no time before I start my parental leave to prepare the new culture list for the website.  So all that Laura can do until the end of her contract at the end of April is to mark up the lists.  There'll be no sound file extraction or uploading for now, until I can get back to this in the autumn, and until we have a new Sound Comparisons administ

[2017-04-11 01:53] AvivaShimelman commented on #446
Yes, I think that was the way we left it, which works for me.

On Mon, Apr 10, 2017 at 7:39 AM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-11 01:58] AvivaShimelman commented on #446
Right. We have CLs for all and only those languages for which we have BV
lists.
Still, I'll make up some kind of informal reference sheet for working
purposes, so that Laura -- or whoever -- can match file names to languages
(transparent, in any case) and I can link photos or any auxiliary material.

A.

On Mon, Apr 10, 2017 at 7:25 AM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shi

[2017-04-11 06:40] PaulHeggarty commented on #446
Better would be already to change all the file names to the SndComp filenames.  (But just in case, first make a backup copy of the file with its original name.)  Then there is no more renaming for to be done by anyone, especially people new to the project who might well be lost in all the filenames!

[2017-04-11 06:47] PaulHeggarty opened #459 "Using Colour on the Malakula Website"
At the moment, the Malakula website looks very strange and uninformative about the linguistic diversity on the island.  And we are wasting the value of colour to help with this.  And making the site look unnecessarily monochrome.

I appreciate that grouping and colouring by region doesn’t make much sense, and gives a misleading impression of a geographical structure that is not there.

But, @Aviva

[2017-04-11 09:21] LauraWae commented on #459
Hi! Good thoughts!

I like the idea of the toggle switch. This indeed can be very helpful.

About the colours, I agree, too. We should also ask ourselves why we have different colours in the left bar menue, but no such on the speech bubbles on the maps!

As we have 42 different languages, I agree also that this is a very huge amount to be using a different colour for each. My suggestion is to mix

[2017-04-11 09:30] LauraWae commented on #458
Hi again!
Sorry, here we go again... I could not find the transcriptions for `Nahavaq: Elu` in the sheets in folder 7 - Transcriptions Current - Aviva. Could you send this one, please, too?

I am sure you will enjoy life a little more after April, when there will be no more Laura, annoying you with things from the past... ;P

[2017-04-11 09:55] PaulHeggarty commented on #459
No need to create new lists, though.  We already have all the info we need.  I can change some lines of code and that will create new groups automatically, on the basis that level 5 = language, level 6 = dialect.  The colours could be assigned automatically.

Not sure about using shades by region, though, I think that would still make people thing that languages in a region were more similar to ea

[2017-04-11 10:06] LauraWae commented on #459
This should look beautiful, then. I am sure you can draw on your large colour pool from COBL in this case ;)

[2017-04-11 12:21] LauraWae commented on #458
Notes:

- [ ] **Rename ...Maraxus_Maraxus to ...Oce_Van_Mal_East_NCtr_Tape_Mae**

[2017-04-11 12:23] PaulHeggarty commented on #446
We still need some clarifications from @AvivaShimelman on points where we cannot clearly understand what is meant in some of your notes:

Do you mean 'languages' in the sense you often use it in, i.e. not as any language variety (including your 'dialect') the sens .  Please put numbers on this, so it's clearer.  Am I correct in paraphrasing this as:

We do *not* have CLs for all of the full 135 va

[2017-04-11 12:26] PaulHeggarty commented on #446
Trying to understand what you want us to do with the `Tape: Tautu` and `Tape: Tautu 2` recordings.

Should we:
(a) Keep these as two separate varieties on the database, distinguished only as 1 and 2.
(b) Merge these recordings into a single variety.

Since (if we understand correctly) these are the same speaker, albeit the second time with two others also commenting), I can’t see why we should do

[2017-04-11 12:27] PaulHeggarty commented on #446
Please also advise us on what we are to do with the other cases where we have a 1 and a 2 recording and the rest of the variety name is identical.

[2017-04-11 12:32] LauraWae commented on #446
Hi also from my part :)
@AvivaShimelman This is my hands-up to start on the Cultural List. Please start uploading the files to

**ownCloud\SndComp\Malakula\2 - LW DA - To Mark up in PRAAT**.

Thanks!

[2017-04-11 12:38] LauraWae commented on #372
Hi @PaulHeggarty
I just found that on the recent Reference Sheet we seem to have forgotten the Multiple-Languages. Could you please add them from the database? Thank you.

[2017-04-11 12:39] LauraWae commented on #372
@PaulHeggarty
No worries. I had opened a wrong version of it. All right now. Excuse me.

[2017-04-11 18:41] PaulHeggarty commented on #459
No need to create new lists, though.  We already have all the info we need.  I can change some lines of code and that will create new groups automatically, on the basis that level 5 = language, level 6 = dialect.  The colours could be assigned automatically.

Not sure about using shades by region, though, I think that would still make people thing that languages in a region were more similar to ea

[2017-04-11 21:34] AvivaShimelman commented on #446
Worry: lect/speaker distinction will be lost. Any future analysis will have
to consider the possibility that many lects -- the "depopulated" one in
particular -- are aggregates in some sense of an albeit constrained range
of idiolects. In particular the seeming free alternation between voiced and
unvoiced pairs and between adjacent places of articulation is going to be
intersting/challenging. Agai

[2017-04-11 21:37] PaulHeggarty commented on #446
When?  By doing what?

[2017-04-11 21:39] PaulHeggarty commented on #446
I don’t think ideolects is a reasonable, practical objective for Sound Comparisons, though.

[2017-04-11 21:42] AvivaShimelman commented on #459
Excellent. There are, of necessity, larger aggregates (8 or 9) (ask Laura,
I already color my transcriptions this way). On-the-ground perception (i.e.
speaker perception) and Simon's trees pretty much agree as to where it
would be appropriate to make the chromatic cuts. ANd (bonus!), not
unexpectedly, there's a lot of geographic bundling.

A.

On Tue, Apr 11, 2017 at 2:47 AM, Paul Heggarty <notifi

[2017-04-11 21:45] AvivaShimelman commented on #459
Yikes! No geography/"genetic" doubling possible, I fear. "TMI" (too much
information ... and too much useless information). In any case, as I
mentioned in my last post, the language grouping turn out to be regional in
the majority of the cases, in any case. I'll bundle the languages.

A.

On Tue, Apr 11, 2017 at 5:21 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-04-11 21:47] AvivaShimelman commented on #458
Will do.  (And absolutely will not be happier to not be hearing from you).

On Tue, Apr 11, 2017 at 5:30 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-04-11 21:50] AvivaShimelman commented on #459
Right. Simon's most recent tree has my endorsement. Depending on what makes
sense chromatically (i.e., how many colors/shades are actually visible and
interpretable at a glance), just pick node levels. I can do this by hand in
5 minutes, too.

A.

On Tue, Apr 11, 2017 at 5:55 AM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-11 21:58] AvivaShimelman commented on #446
You understood correctly.
Level 5. We have one example for every level 5 lect agglomeration.
Potentially two for Nah/x'ai.

A.

On Tue, Apr 11, 2017 at 8:23 AM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-11 21:58] PaulHeggarty commented on #459
OK, we could structure and colour it like that if you wish, 8-9 geographical groups.

I would need:
- the group names,
- the list of all varieties you want in each group
- with their full index numbers
- in the order you want them in within that group.

Best in an excel sheet.

[2017-04-11 22:00] AvivaShimelman commented on #446
Bottom line: I want (2) treated as as a revision to (1). I defer to
administrative ease, though, as both strategies are defensible.
A.

On Tue, Apr 11, 2017 at 8:26 AM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-11 22:23] AvivaShimelman commented on #446
I don't think I was opaque about this one. Laura got it right from the
get-go. All files (and these are the ones I uploaded first two months ago)
with the same file numbers as existing recordings on the site modified with
an "R" in the number and a "revised" in the title are meant as revisions to
existing recordings where formerly inflected items have been swapped out
for uninflected counterparts.

[2017-04-11 22:24] AvivaShimelman commented on #446
Yuppee! Let's start with that first one: Najit as a test case and see what
problems may surface.

A.

On Tue, Apr 11, 2017 at 8:32 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-04-11 22:26] AvivaShimelman commented on #459
Wait a couple of minutes and I'll group by major colors (Eliminating white
and black, I think English still gives us a perfect 8 to work with).

On Tue, Apr 11, 2017 at 2:41 PM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-11 22:28] AvivaShimelman commented on #459
Doing that now. By "order within group," practically, would that correspond
to adjacent shades?

A.

On Tue, Apr 11, 2017 at 5:58 PM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-11 22:47] AvivaShimelman commented on #446
I'm obviously being obtuse on this one. As I understand it, you want me to
not create any new metadata entry anywhere for a CL list from the "same
lect" for which we already have a BV list. So, for example, if I have a
Novol-Dixon Reef BV and I made a Novol-Dixon Reef CL I just maybe tag "CL"
on an otherwise identical file name. Can do.
Possible problems, though:
The CLs are the product of committ

[2017-04-12 04:10] AvivaShimelman commented on #459
Was waiting for Simon's tree. Back on it now.

On Tue, Apr 11, 2017 at 5:58 PM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-12 07:06] PaulHeggarty commented on #446
Obviously yes, you'll need to add a tag like _CL (for now), but that's not what I mean by renaming.  What I mean is changing file names from your type to the Sound Comparisons type,
e.g. not: changing `Novol-Dixon Reef BV` to `Novol-Dixon Reef CL`
but changing your `wl_0014_Novol_04_DixonReef_CL` (or however you name the CL files) to Sound Comparisons format `Oce_Van_Mal_West_Ctr_Novol_DixonReef_D

[2017-04-12 07:16] AvivaShimelman commented on #459
Attached is a spreadsheet with my suggestions for grouping and shading languages. Here are some notes about how to read it:

Notes for Malakula languages groupings and color codings.
As it turns out, we have 10 tight families and one set of three languages that really aren't tight enough to group with any of the color sets (maybe these could all be grey?)

1.I have given SC indes numbers out throu

[2017-04-12 07:30] PaulHeggarty commented on #459
Great, thanks.  For the moment there is no option to do colour-coding _within_ groups, but now that you raise the idea, it is something good to consider adding to Sound Comparisons in due course.
The basic colouring by group will be done, although quite when I'll get the time to implement this I don’t know.  But it will happen eventually!

[2017-04-12 18:56] AvivaShimelman commented on #459
Sorry. The shading was what I thought you meant by "order within that group." If that's something I still need to deal with, please elaborate.

[2017-04-12 19:51] AvivaShimelman commented on #446
@LauraWae
I think you're linked into my CL folder. Everything is really just as it was for the BV lists. Right now, you'll find the Najit, which we can start with, along with the group it is a part of (Malua Bay, Espiegel's Bay, Tirax, Siviti, Batarxopu, Nese). The Tirax 162 recording does have a "sister" R recording. That, too, will work just like the BV-Rs did, with new entries trumping old ones

[2017-04-12 19:55] AvivaShimelman commented on #446
@LauraWae
wrt file naming
In the future, I'll label files as Paul suggests in his last post. For the ones already uploaded, I'll depend on you. Metadata sheet (mini reference sheet on its way). The labeling system for the files already up is the same as it has always been for the BV lists, except for the prefix. BVs are prefixed with "wl" while CLs are prefixed with "wlc". As before, they all have

[2017-04-12 23:40] AvivaShimelman commented on #446
@LauraWae
Attached is a spreadsheet (also uploaded to "reference") listing the CL recordings along with their original file names (mine) and their future SC file names. In those instances (all but 8) where there is a BV recoding that corresponds perfectly (i.e., in both language and dialect) to the CL recording the name is the same, with the only difference being that the CL file is appended with

[2017-04-13 12:08] LauraWae commented on #458
Oh, okay, that's good to hear ;)

[2017-04-13 12:43] LauraWae commented on #443
**Uripiv Tautu: Village**
- Tagged and extracted.
- Uploading.

[2017-04-13 17:54] AvivaShimelman commented on #458
I've decided to just drop that last Nahavaq recording. We have a good set
up already (4) and I've got some momentum going on the CLs. I'll ask Paul
to put it on "off." We're done!

On Thu, Apr 13, 2017 at 8:08 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-04-13 17:59] AvivaShimelman commented on #443
Small issue --
The language is Uripiv, the dialect, then, is TautuVillage. So --
Uripiv: Tautu Village

A.

On Thu, Apr 13, 2017 at 8:43 AM, LauraWae <notifications@github.com> wrote:

--
Aviva Shimelman, PhD

[2017-04-13 18:24] PaulHeggarty commented on #458
It's `Nahavaq: Elu`, I presume, that you want switched off.  I’ve just done so, please comment if it's not that one you meant.

[2017-04-13 18:26] PaulHeggarty commented on #443
It was already actually named like that in the database and on the website, and the sound files seem to work (some still uploading) so all seems fine there.

[2017-04-14 04:20] AvivaShimelman commented on #458
Good. Thanks.

On Thu, Apr 13, 2017 at 2:24 PM, Paul Heggarty <notifications@github.com>
wrote:

--
Aviva Shimelman, PhD

[2017-04-18 10:20] LauraWae commented on #458
Hi both. Good to see that progress. I am looking for the R-transcriptions of the Tape: Tautu recording. Any ideas, @AvivaShimelman ?

[2017-04-18 12:39] AvivaShimelman commented on #458
Its in that same folder with the rest. Its the only one labeled tape tautu.
A.

Le 18 avr. 2017 6:20 AM, "LauraWae" <notifications@github.com> a écrit :

[2017-04-18 14:46] LauraWae opened #460 "Progress Tracker: Malakula Data: Culture Lists 2"
This is to track the progress being made on tagging the Culture List recordings.

[2017-04-18 14:46] LauraWae commented on #460
**wlc_1630065_Malua_Bay_Petarmul_selected**
 - tagged.

[2017-04-18 22:48] AvivaShimelman commented on #460
@LauraWae
Hi! A good idea to start a new new tracker. Does this mean you started with this one (Petarmul)? Or did you do Najit before creating the issue? Any issues? Do you want me to double-check it at any point? Do you have a sense of how long each one will take once you get a rhythm going?  A.

[2017-04-19 03:53] LinguList opened #461 "Where do I find the actual data on phonetic transcriptions?"
In order to help by giving recommendations on best practice of phonetic transcriptions (I see they are currently just taken unchecked from the transcribers, but do you at least normalize to one unicode version?), I need to be pointed to the raw data. Is this uploaded in some project? Do you plan on uploading it? And how do you get it into the SoundComparisons? This remains a mystery for me, but it

[2017-04-19 10:34] LauraWae commented on #458
Thanks, Aviva. I have uploaded them now.

@PaulHeggarty We can delete Tape: Tautu 2 from the database, and change the language that is called "Tape: Tautu 1" to "Tape: Tautu". Thanks.

[2017-04-19 12:00] LauraWae commented on #460
**wlc_1630068_Najit_Tanmial_selected**
- tagged.
- Sound and texgrid saved to `ownCloud\SndComp\Malakula\Culture List\02 Tagged Files and Textgrids`.

[2017-04-19 13:20] LauraWae commented on #446
Hi,
Thanks for the sheets and also for the aclarations to the gloss list from two weeks ago. I have finished the first two CL-recordings now. This means that I have tagged them with Praat. You can have a look at them on

SndComp\Malakula\Culture List\02 Tagged Files and Textgrids.

You will notice that I have split the Malakula folder into two main subfolders - one for the BV, and the other for CL

[2017-04-19 15:19] LauraWae commented on #460
**wlc_1630066_Espiegel_s_Bay_selected**

- tagged.
- Sound and texgrid saved to `ownCloud\SndComp\Malakula\Culture List\02 Tagged Files and Textgrids`.

[2017-04-19 15:31] AvivaShimelman commented on #446
Wow, that really isn't a long time at all. For a couple of them, I'll put
editing notes when I upload. That usually just means, like with the BVs,
that the recording has more "interference" than I am happy with, so that I
will have already pushed the noise reduction and the only solution is just
to be sure to cut them at the very edges. A.

On Wed, Apr 19, 2017 at 9:20 AM, LauraWae <notifications@

[2017-04-20 13:36] LauraWae commented on #461
Hi Mattis,

In general, we use SQLs to upload transcriptions to the website. I will send you such an example per E-Mail, as Github does not allow Excel-Sheets. Paul creates those sheets. Transcribers enter their data to it.

I do not know if you have access to the Owncloud Folder System of Soundcomparisons. Most (!) of the raw transcriptions can be found there. Please tell me if you need further i

[2017-04-20 14:18] LauraWae commented on #460
**wlc_1630064_Siviti_Gonwar_selected**

- tagged.
- Sound and texgrid saved to `ownCloud\SndComp\Malakula\Culture List\02 Tagged Files and Textgrids`.

[2017-04-20 14:48] LauraWae commented on #446
Hi on day #3.

Two things: I have just finished `wlc_1630064_Siviti_Gonwar_selected`. There was a big break between "land_of_the_dead" and "doctor", where transcriptions went in italics. Do I have to take special care about something in that case?

And, secondly: It looks like the recording wlc_1620034_Tirax_02_Mae_selected does not match the transcriptions named "Tirax Lani". I am confused becaus

[2017-04-20 15:05] LauraWae commented on #446
Additionally:

Could please also indicate which of those labels

![image](https://cloud.githubusercontent.com/assets/10007762/25237612/7203172e-25eb-11e7-9fa6-85d150310d58.png)

 is

wlc_1620046-47 Siviti Batarxopu
wlc_1620048 Wowo.

It's somehow not clear to me and I am very grateful for you assistance. Thanks.

[2017-04-20 16:54] AvivaShimelman commented on #446
@LauraWae
Right. Don't worry about the italicized items in the Gonwar recording for now.
Tirax_Mae and Tirax_Lani are different recordings. The transcription for Tirax_Mae is labeled "Tirax 163"; the transcription for Tirax_Lani is labeled "Tirax_Lani". I appologize. That could have been more clear. Note that the the supplement/revision to the Tirax Mae recording is labeled with the same file numb

[2017-04-20 17:10] AvivaShimelman commented on #446
@LauraWae
I'll re-label the transcriptions to include the numbers (I hadn't because, in general, unlike with the BV lists, we only have one recording per language for the CV lists — we just hit the exceptions first, it seems). I'll be uploading those in a minute or two, so it will be clear which is Siviti and which is Batarxopu. My bad. Wowo is Wowo. More explanation following upload. I'm s glad w

[2017-04-20 18:18] AvivaShimelman commented on #446
@LauraWae
So I've re-uploaded the north-center transcription sheet to number the transcriptions. I think it worked before when we went with the rule "Always go with the numbers." So I'll keep to that system. The authority is the metadata sheet. Whatever numbers it gives are the ones we're going with. I'm re-uploading now the Batarxopu and Siviti sound files re-labeled. Those are unique. The were a

[2017-04-20 18:27] AvivaShimelman commented on #446
@LauraWae
wrt to Wowo/Alavas files. That one was a challenge because the language is really in decline. The principal speaker/first group got a bit more than half. There are three older speakers who, in different sessions, did manage to agree on about 20% more of the list. I recorded two of them. So our entire set for Wowo/Alavas is a bit "composite". It should be pretty transparent, though. There

[2017-04-20 20:47] AvivaShimelman commented on #446
@LauraWae
I've re-labeled and re-uploaded the Wowo/Alavas sound files. I don't know if things got better or worse! I've named the files as in the metadata sheet (for example wlc_1620050_Wowo/Alavas_Lesmarlas) but they appear on oc without the numerical prefix (example: Wowo_Lesmarlas_selected). They're still unique, so it shouldn't be hard to tell them apart (I hope). 48 is Wowo, 49 is Alavas and

[2017-04-21 07:16] LinguList commented on #461
Thanks, this is indeed really helpful. I'd suggest to share these things online, or even better, to have them converted to regular csv-files (with the info inside) and then track them on github. This is also good for versionizing. If those excel things are converted to the database representation anyway, it is a no-brainer for a programmer in doing the same conversion to the [cldf](http://github.c

[2017-04-21 07:20] #461 closed

[2017-04-21 11:15] AvivaShimelman commented on #458
@LauraWae
Just when you thought ...

Naha'ai Mbatmbang -
It looks like we've got some sound/transcription mis-matches. The sound is always right. It's that the transcription "skips up" by a line. So, for example, 'wet' and 'dry' are usually elicited in that order. But 'wet' has the transcription for 'dry'. Both are matched with the right sound, though.

[2017-04-23 05:14] PaulHeggarty opened #462 ""How to Cite" button and reference system needed"
We need to offer users a way of citing the website and data.  There needs to be some way of fairly deciding who is to be named as a contributor to each study on the site.  I will propose something here soon.

[2017-04-23 12:28] LinguList commented on #462
The most logical way to do this is to work with "editorial roles", as
they do in the biblatex specification which is incredibly useful for the
complex things we are dealing with when creating linguistic data in
collaborative projects.

They make a distinctoin between different roles (founder, translator,
compiler, etc.), and also allow for customization. I think you should
define the different deg

[2017-04-24 03:42] AvivaShimelman commented on #458
@LauraWae
Mornin'! I uploaded the northern set (Wowo-Alavas, V'ao). V'ao has got a lot of bird noise in the background (semi-outdoor recording at 17:00). The speaker does generally manage to beat the birds when he's talking, but the darn chirpers can be heard immediately at the edges. (Sorry!). There's a set of about 20 items that I've reserved in a separate column (it'll be obvious). There's noth

[2017-04-24 03:51] Linguista opened #463 "Contributors pages are now blank"
The `Contributors` pages are now coming up blank for some reason. I've confirmed this in language varieties from the Quechua, Romance and Slavic families, using three different browsers.

[2017-04-24 17:04] Bibiko commented on #463
The problem was that the entire Contributors SQL table was empty. I fixed it by importing my local data but these data doesn't reflect the last changes.

@PaulHeggarty Did you change or update the Contributor table?

[2017-04-24 17:55] PaulHeggarty commented on #463
I only added some cotributors and uploaded it, about 10 days ago.  I didn’t get an error message.  I’ll now re-upload.  Here's the file.
[Contributors.txt](https://github.com/lingdb/Sound-Comparisons/files/952654/Contributors.txt)

[2017-04-24 17:55] PaulHeggarty commented on #463
OK: that does give an error:

Importer::processFiles for uId 2; merge=
Importer::mkQueries for Contributors.txt…
Columns to import: ContributorIx, SortGroup, SortIxForAboutPage, Forenames, Surnames, Initials, EmailUpToAt, EmailAfterAt, PersonalWebsite, FullRoleDescription
Importer::execQueries for User 2
Error with query 'INSERT INTO Contributors (ContributorIx,SortGroup,SortIxForAboutPage,Forenam

[2017-04-24 17:57] PaulHeggarty commented on #463
I suspect tthat the error may be some problem with speech marks or characters somewhere in the csv, in one of the entries I've added or altered. I'll try to find which, but this shouldn't happen anyway.  It's a generalised problem with the upload system that I would love to be resolved.  It probably needs me to alter the system to create the csvs from Access.

[2017-04-24 19:19] PaulHeggarty opened #464 "Synergies with CLLD and use of CLDF formats"
See also:  https://github.com/lingdb/Sound-Comparisons/issues/456

- [ ] Create a new field in the `Transcriptions` table, named `CLPA Transcription`.  @LinguList should advise on whether the new field should initially be blank, or a copy of the entry in the current transcription field.
- [ ] Set up rights for @LinguList and @xrotwang to access  the `Transcriptions` table on the server.

[2017-04-24 19:26] PaulHeggarty commented on #456
To respond to the email from Mattis.  Many things to respond to -- the process is not much like what you seem to be imagining, though.

Yes, I have a script in VBA (the Office programming language) to read in the excel files and convert them into an sql file to create or amend the transcription records when the sql file is uploaded through the Sound Comparisons admin system.

There is no further c

[2017-04-24 19:58] LinguList commented on #464
I don't think that is what we need. Jakob adjusted my tool for automatic segmentation two years ago, but it was never introduced. In the meantime, I guess it's easier if we deal with these things from lexibank, unless you want to show alignments at some points in your tool. For us it's enough to just have the transcriptions as they are right now.

[2017-04-25 05:29] AvivaShimelman commented on #458
@LauraWae
Morning! Are you going to need more recordings to play with today? I've put Avava, Fifti and Tasmbol in the common folder. Please, please, please do them in that order and take them one by one, i.e., only as you do them. That way, if there have to be changes, those can be made before anything gets into the gears.
I forgot to say with regard, in particular to the V'ao recording:
Sometimes

[2017-04-25 12:16] LauraWae commented on #460
**wlc_1630064_Siviti_Gonwar_selected**

- tagged.
- Sound and texgrid saved to ownCloud\SndComp\Malakula\Culture List\02 Tagged Files and Textgrids.

[2017-04-25 12:23] #451 closed

[2017-04-25 12:30] LauraWae commented on #446
Aviva's comments from 23th and 24th of April in #458

@LauraWae
Mornin'! I uploaded the northern set (Wowo-Alavas, V'ao). V'ao has got a lot of bird noise in the background (semi-outdoor recording at 17:00). The speaker does generally manage to beat the birds when he's talking, but the darn chirpers can be heard immediately at the edges. (Sorry!). There's a set of about 20 items that I've reserved

[2017-04-25 12:51] LauraWae commented on #458
Please comment on BV here. Thanks.

[2017-04-26 13:45] LauraWae commented on #460
**wlc_1620034-R_Tirax_Mae_revised_selected**
- tagged.

[2017-04-27 00:28] AvivaShimelman commented on #446
@LauraWae
Long story short: I'm adding a second Neverver recording. But -- don't be daunted! -- it's a partial file.

Right now we have the Limap dialect on our list. I was just reviewing it and I realized that I only recorded those items where Limap differed at all from the other dialect I recorded, Mindu. It was Mindu that I had recorded all completely. With Limap, we had reviewed the whole set

[2017-04-30 16:21] AvivaShimelman commented on #446
@LauraWae
Is today really the end of your contract? Do you know when you'll have a replacement? Whenever that will be, I guess, I'll just stockpile recordings and transcriptions for them. Good luck on your next stop! I'd be glad if you dropped a line every once in a while.
A.

[2017-05-02 05:50] Linguista opened #465 "Mapudungun phonetic transcriptions not shown when viewing using Andean family."
When viewing Mapudungun varieties by means of the `Mapudungun` button in the top left corner, the phonetic transcriptions are shown properly, as can be seen here:

![Mapudungun via Mapudungun](https://i.imgur.com/zl7Rqdl.png)

However, if you view the same Mapudungun varieties using the `Andean` option, no transcriptions whatsoever are shown.

![Mapudungun via Andean](https://i.imgur.com/li48XEP.p

[2017-05-02 11:46] Bibiko commented on #463
I've tried to change the Import behaviour. If an error occurs while importing all changes will be ignored. @PaulHeggarty The problem with your `Contributors.txt` was that the `Contributor Ix` 401 occurred twice which isn't allowed (it's a primary key). I changed it (also mail address for Darja and my web address) and uploaded the file.

[2017-05-02 11:46] #463 closed

[2017-05-03 08:06] Bibiko commented on #465
@PaulHeggarty This issue is related to the fact that the database tables are study-based. Which has advantages but only disadvantages. The missing Mapudungun transcriptions inside of the Andean study are only stored within the Mapudungun study, not within the Andean study. This leads also to another problem: please compare e.g.

http://www.soundcomparisons.com/#/en/Mapudungun/language/Lago%20Rosar

[2017-05-03 09:07] xrotwang commented on #465
If the database is the authoritative storage of the data, I think it should be fully normalised, i.e. not store any data redundantly. This would become even more important if the data in the database becomes editable through-the-web.

But I also agree with @Bibiko that we shouldn't invest any more in PHP code bases - just because this will prevent any synergies between projects when it comes to co

[2017-11-02 09:47] PaulHeggarty commented on #452
To respond at last to @Bibiko above, yes, it would be ideal to have a way to download things separately, as needed for any particular user:
* Obviously, all downloads should include the base programme in its latest form.
* The map files should be separate, and not included in a download by default, because for any user who already has them, they will not normally need to be updated.
* The recordin

[2017-11-02 09:49] PaulHeggarty commented on #452
Laura refers to a recording of 'Terena' in Brazil, but I know nothing more of this, so please just proceed with the update without that variety for Brazil.  I’ll check up, but we should not wait for it.

[2017-11-21 10:01] PaulHeggarty opened #466 "Uploading transcriptions via SQL not working properly"
I've just received the first batch of transcriptions (all number words, and a few other simple ones, like body parts) for all the new Saxon and Thuringian varieties for Sound Comparisons, produced the SQL file, and run it.  The results are weird, I can’t work out what's going on.
Where there are sound files already uploaded and working for a given language, the transcriptions fail to appear.  Othe

[2017-11-21 10:20] PaulHeggarty commented on #452
I presume we still need to contact @runjak to ask for his code for doing the exports again.  Can you confirm, @Bibiko?

[2017-11-21 11:52] Bibiko commented on #466
The problem with the file `2017_11_21__Transcriptions_-Germanic-Saxony&_Thuringia.zip` is that there's a mismatch between language IDs and study name. E.g. the last statement: INSERT INTO Transcriptions_**Englishes** ...  for LanguageIx 11151256109 whereby 11151256109 is Erzgebirge W.: Stützengrün and belongs to study **Germanic**

[2017-11-21 12:00] PaulHeggarty commented on #466
Great, thanks for the tip-off.  Must be a bug on my side, so I’ll try again!

[2017-11-21 12:22] Bibiko commented on #466
... in addition, if one wants to know what's already in the database one can run the admin command `Diagnostics` > `General Study Check`

[2017-11-21 12:29] Bibiko commented on #452
I can generate the needed data files. But to generate new map tiles I need the help of @runjak.

[2017-11-21 14:10] PaulHeggarty commented on #466
Thanks.  Bug found and fixed in my sql creation code, and transcriptions now working fine on http://www.soundcomparisons.com/Germanic

[2017-11-21 14:10] #466 closed

[2017-11-21 16:50] runjak commented on #452
Hey!
I'll have a look at it once I'm home - this shouldn't be too complicated to do, I hope.
Basically what I did then was something along these steps:
1. Run a docker container with an OSM server in it
2. Have a script load the wanted map tiles from that server
3. Discard the OSM server but keep the map tiles

[2017-11-21 17:04] Bibiko commented on #452
@runjak Your point 1) is the problem so far. I created such a docker but I couldn't replace the mbtiles file. Now I'm trying to run this server via node on my local Ubuntu VM and it seems to work. I keep you informed when I need further help :)

[2017-11-22 01:22] Bibiko commented on #452
Finally I was able to set up such a map server on my local machine. In addition now we can change the default landmass background like:
![10 2x](https://user-images.githubusercontent.com/16273/33105127-011aaee2-cf2c-11e7-9159-61d72124c5fb.png)

[2017-11-22 10:47] PaulHeggarty commented on #452
Excellent, it looks great!

[2017-11-22 11:28] runjak commented on #452
Glad to hear you've got this working & sorry it has been such a hassle.

Also very cool to hear you can configure the background settings!

[2017-11-22 15:56] Bibiko commented on #452
@PaulHeggarty @cormacanderson : A short interim report. My computerS are calculating the new background map for the offline version (@runjak : I do this on three different computers running six docker map tile server == distributed server loads :) Here two impressions after one hour of calculations :
![a2](https://user-images.githubusercontent.com/16273/33136613-f202c7bc-cfa5-11e7-802d-cac0e4e3072

[2017-11-22 15:58] PaulHeggarty commented on #452
Thanks for getting back to us on this, @runjak.

[2017-11-22 18:24] PaulHeggarty commented on #452
Looking great.  I expect Russell will also be happy to have this for the new offline version for Malakula.

[2017-11-23 17:02] Bibiko commented on #410
@PaulHeggarty I fixed [1] and [2] - after emptying the cache and reloading the page you should see the result -- Is this the desired behaviour?

[2017-11-23 17:29] PaulHeggarty commented on #410
Certainly is.  Brilliant, and a huge help for tomorrow too!  Thanks!

[2017-11-24 11:04] #465 closed

[2018-01-10 12:36] PaulHeggarty opened #467 "Showing (and colouring by) Cognacy"
This is to open this issue to get us started on it, and have the colouring working at least by 23rd January for the filming.

The main obstacle to overcome is that Sound Comparisons was always devised to use only known cognates in the first place, so any missing cognates/alternative lexemes were more seen as unfortunate gaps in the data, and so were not dealt with in much detail.

For new studies

[2018-01-11 07:52] LinguList commented on #467
Coloring, if many languages are involved, is NOT trivial. On a geographic map, it would involve that you need to apply a graph coloring algorithm or a similar approach (as you don't want to bomb people with 20 and more colors), and those are known to be "hard".

What I usually do is: alternate coloring in tables (if the cognate ID changes), and on a map, you could think about something like this:

[2018-01-11 08:08] xrotwang commented on #467
I guess I'm a nuisance, but anyway, I'll repeat myself: Rather than spending effort on the current php codebase, I'd like us to work on implementing soundcomparisons-like functionality as clld plugin, preferably working on top of many CLDF datasets. Adding soundcomparisons functionality (or data) to django-cobl and the other way round seems wasteful to me.

[2018-01-11 08:11] xrotwang commented on #467
@Bibiko what do you think about soundcomparisons on top of clld? Interested in working on it?

[2018-01-11 08:25] LinguList commented on #467
Having recently finally managed to work a bit with CLLD on my own, I can only support this. In fact, if you have things annotated for cognacy, for example, by using EDICTOR, cases like the map example I show, are ultimately trivial to be implemented in CLLD, and you could actually have the alignments on top (which would be beautiful, I guess).

[2018-01-11 09:58] PaulHeggarty commented on #467
This is an immediate priority for filming a clip for a television documentary on Arte, who will be at the institute to film on Tuesday 23rd January.  Yes, @xrotwang, you have mentioned this before, but:
(1) What you mention is a *long*-term aspiration shared by everyone, not just you, so we do know this and don’t need to be reminded.  And there are different opinions between us on how best to get

[2018-01-17 15:32] cormacanderson opened #468 "Celtic: outstanding data tasks"
- [ ] 'Cornwall', 'Isle of Man' and 'Historical' appear in the 1-Word table view, but shouldn't because we have no such languages yet.
- [ ] The Vannetais Carnac recording for 'two' seems to be present, but doesn't play.  A blank sound file?
- [ ]The word names don't appear with the correct short form vs. long form (by hover tip) in some cases, probably because they're in the database wrongly, and

[2018-01-17 15:34] #346 closed

[2018-01-29 15:04] #180 closed

[2018-01-29 15:12] PaulHeggarty opened #469 "Problem with Alternative Pronunciations and Phonetic Transcriptions"
Look at the multiple pronunciations in, for example:

http://www.soundcomparisons.com/#/en/Germanic/language/%E2%80%98Doric%E2%80%99%20Scots

Where there are *two* alternative phonetic transcriptions, sound file names _pron2 and pron3, the result is that transcriptions 1 and 2 are combined with a comma between, and the sound won’t play;  whereas transcription 3 is correctly on a separate line and

[2018-01-30 08:27] #362 closed